<!DOCTYPE web-app PUBLIC
    "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Infinite URLs</display-name>
    <description>Application that generates infinite URLs.</description>

    <servlet>
        <servlet-name>infiniteurl</servlet-name>
        <jsp-file>/infiniteurl.jsp</jsp-file>
    </servlet>
    <!--Make it so that all accesses under 'hole' gets handled
        by the '/infinitedir/index.jsp' page.
      -->
    <servlet-mapping>
        <servlet-name>infiniteurl</servlet-name>
        <url-pattern>/infinity/*</url-pattern>
    </servlet-mapping>
</web-app>
