nb-configuration.xml
.classpath
.project
.settings/
target/
PwaArchive-access/projects/nutchwax/nutchwax-webapp/src/main/webapp/WEB-INF/classes/hadoop-site.xml.*

# Idea IDE files
*.iml
.idea

# Ignore files Nutchwax-thirdpart
PwaArchive-access/projects/nutchwax/nutchwax-thirdparty/nutch/lib/*
PwaArchive-access/projects/nutchwax/nutchwax-thirdparty/nutch/build/*

# PwaLucene .class files that have a source file
PwaLucene/src/main/java/org/apache/lucene/search/caches/PwaSpamFilterCache.class
PwaLucene/src/main/java/org/apache/lucene/search/filters/PwaSpamFilter$1.class
PwaLucene/src/main/java/org/apache/lucene/search/filters/PwaSpamFilter$SpamFilterCallable.class
PwaLucene/src/main/java/org/apache/lucene/search/filters/PwaSpamFilter.class
PwaLucene/src/main/java/org/apache/lucene/search/filters/PwaSpamRegex.class
PwaLucene/src/main/java/org/apache/lucenindex/CorruptIndexException.class
PwaLucene/src/main/java/org/apache/lucene/index/DocumentWriter.class
PwaLucene/src/main/java/org/apache/lucene/index/MultiPassIndexSplitter$FakeDeleteIndexReader$1.class
PwaLucene/src/main/java/org/apache/lucene/index/MultiPassIndexSplitter$FakeDeleteIndexReader.class
PwaLucene/src/main/java/org/apache/lucene/index/MultiPassIndexSplitter.class
PwaLucene/src/main/java/org/apache/lucene/index/MultiReader.class
PwaLucene/src/main/java/org/apache/lucene/index/SegmentMerger$1.class
PwaLucene/src/main/java/org/apache/lucene/index/SegmentMerger.class
PwaLucene/src/main/java/org/apache/lucene/index/SegmentReader$Norm.class
PwaLucene/src/main/java/org/apache/lucene/index/SegmentReader.class
PwaLucene/src/main/java/org/apache/lucene/pruning/CarmelTermPruningPolicy$ByDocComparator.class
PwaLucene/src/main/java/org/apache/lucene/pruning/CarmelTermPruningPolicy.class
PwaLucene/src/main/java/org/apache/lucene/pruning/Collector.class
PwaLucene/src/main/java/org/apache/lucene/pruning/CorruptIndexException.class
PwaLucene/src/main/java/org/apache/lucene/pruning/HitQueue.class
PwaLucene/src/main/java/org/apache/lucene/pruning/PriorityQueue.class
PwaLucene/src/main/java/org/apache/lucene/pruning/PruningPolicy.class
PwaLucene/src/main/java/org/apache/lucene/pruning/PruningReader$PruningTermEnum.class
PwaLucene/src/main/java/org/apache/lucene/pruning/PruningReader$PruningTermPositions.class
PwaLucene/src/main/java/org/apache/lucene/pruning/PruningReader.class
PwaLucene/src/main/java/org/apache/lucene/pruning/PruningTool.class
PwaLucene/src/main/java/org/apache/lucene/pruning/PwaTermPruningPolicy.class
PwaLucene/src/main/java/org/apache/lucene/pruning/SegmentTermVector.class
PwaLucene/src/main/java/org/apache/lucene/pruning/StorePruningPolicy$DelFieldSelector.class
PwaLucene/src/main/java/org/apache/lucene/pruning/StorePruningPolicy.class
PwaLucene/src/main/java/org/apache/lucene/pruning/TFTermPruningPolicy.class
PwaLucene/src/main/java/org/apache/lucene/pruning/TermPruningPolicy.class
PwaLucene/src/main/java/org/apache/lucene/pruning/TestPruningReader.class
PwaLucene/src/main/java/org/apache/lucene/pruning/TopDocs.class
PwaLucene/src/main/java/org/apache/lucene/pruning/TopDocsCollector.class
PwaLucene/src/main/java/org/apache/lucene/pruning/TopScoreDocCollector$1.class
PwaLucene/src/main/java/org/apache/lucene/pruning/TopScoreDocCollector$InOrderTopScoreDocCollector.class
PwaLucene/src/main/java/org/apache/lucene/pruning/TopScoreDocCollector$OutOfOrderTopScoreDocCollector.class
PwaLucene/src/main/java/org/apache/lucene/pruning/TopScoreDocCollector.class
PwaLucene/src/main/java/org/apache/lucene/search/BooleanQuery$1.class
PwaLucene/src/main/java/org/apache/lucene/search/BooleanQuery$BooleanWeight.class
PwaLucene/src/main/java/org/apache/lucene/search/BooleanQuery$PwaWeight.class
PwaLucene/src/main/java/org/apache/lucene/search/BooleanQuery.class
PwaLucene/src/main/java/org/apache/lucene/search/DocIdSet$1$1.class
PwaLucene/src/main/java/org/apache/lucene/search/DocIdSet$1.class
PwaLucene/src/main/java/org/apache/lucene/search/DocIdSet.class
PwaLucene/src/main/java/org/apache/lucene/search/DocIdSetIterator.class
PwaLucene/src/main/java/org/apache/lucene/search/Explanation.class
PwaLucene/src/main/java/org/apache/lucene/search/HitQueue.class
PwaLucene/src/main/java/org/apache/lucene/search/PwaAbstractJoinTwo.class
PwaLucene/src/main/java/org/apache/lucene/search/PwaExtraPhrase.class
PwaLucene/src/main/java/org/apache/lucene/search/PwaExtraTerm.class
PwaLucene/src/main/java/org/apache/lucene/search/PwaFunctionsWritable.class
PwaLucene/src/main/java/org/apache/lucene/search/PwaJoinTwoAND.class
PwaLucene/src/main/java/org/apache/lucene/search/PwaJoinTwoNOT.class
PwaLucene/src/main/java/org/apache/lucene/search/PwaJoiner.class
PwaLucene/src/main/java/org/apache/lucene/search/PwaMerger.class
PwaLucene/src/main/java/org/apache/lucene/search/PwaPhrase.class
PwaLucene/src/main/java/org/apache/lucene/search/PwaPhraseQueue.class
PwaLucene/src/main/java/org/apache/lucene/search/PwaPositions.class
PwaLucene/src/main/java/org/apache/lucene/search/PwaPositionsManager.class
PwaLucene/src/main/java/org/apache/lucene/search/PwaRawFeatureCollector.class
PwaLucene/src/main/java/org/apache/lucene/search/PwaScorer$ScoreType.class
PwaLucene/src/main/java/org/apache/lucene/search/PwaScorer.class
PwaLucene/src/main/java/org/apache/lucene/search/PwaScorerFeatures.class
PwaLucene/src/main/java/org/apache/lucene/search/PwaSearchable.class
PwaLucene/src/main/java/org/apache/lucene/search/PwaSearchableCommon.class
PwaLucene/src/main/java/org/apache/lucene/search/PwaTerm.class
PwaLucene/src/main/java/org/apache/lucene/search/PwaTermCommon.class
PwaLucene/src/main/java/org/apache/lucene/search/PwaTermLimited.class
PwaLucene/src/main/java/org/apache/lucene/search/TopDocCollector.class
PwaLucene/src/main/java/org/apache/lucene/search/caches/PwaBlacklistCache$ProcessThread.class
PwaLucene/src/main/java/org/apache/lucene/search/caches/PwaBlacklistCache.class
PwaLucene/src/main/java/org/apache/lucene/search/caches/PwaCacheManager.class
PwaLucene/src/main/java/org/apache/lucene/search/caches/PwaDateCache.class
PwaLucene/src/main/java/org/apache/lucene/search/caches/PwaDigestDiffCache.class
PwaLucene/src/main/java/org/apache/lucene/search/caches/PwaICache.class
PwaLucene/src/main/java/org/apache/lucene/search/caches/PwaIndexStats.class
PwaLucene/src/main/java/org/apache/lucene/search/caches/PwaSearchTypesCache.class
PwaLucene/src/main/java/org/apache/lucene/search/caches/PwaStopwords.class
PwaLucene/src/main/java/org/apache/lucene/search/caches/PwaUrlRadicalIdCache.class
PwaLucene/src/main/java/org/apache/lucene/search/caches/PwaVersionsCache.class
PwaLucene/src/main/java/org/apache/lucene/search/features/PwaIRankingFunction.class
PwaLucene/src/main/java/org/apache/lucene/search/features/PwaIRankingModel.class
PwaLucene/src/main/java/org/apache/lucene/search/features/PwaLinearRankingModel.class
PwaLucene/src/main/java/org/apache/lucene/search/features/PwaScores.class
PwaLucene/src/main/java/org/apache/lucene/search/features/querydependent/PwaBM25.class
PwaLucene/src/main/java/org/apache/lucene/search/features/querydependent/PwaLuceneSimilarity.class
PwaLucene/src/main/java/org/apache/lucene/search/features/querydependent/PwaLuceneSimilarityNormalized.class
PwaLucene/src/main/java/org/apache/lucene/search/features/querydependent/PwaMinSpan.class
PwaLucene/src/main/java/org/apache/lucene/search/features/querydependent/PwaNutchSimilarity.class
PwaLucene/src/main/java/org/apache/lucene/search/features/querydependent/PwaNutchSimilarityNormalized.class
PwaLucene/src/main/java/org/apache/lucene/search/features/querydependent/PwaTFxIDF.class
PwaLucene/src/main/java/org/apache/lucene/search/features/queryindependent/PwaLinInlinks.class
PwaLucene/src/main/java/org/apache/lucene/search/features/queryindependent/PwaLinPagerank.class
PwaLucene/src/main/java/org/apache/lucene/search/features/queryindependent/PwaUrlDepth.class
PwaLucene/src/main/java/org/apache/lucene/search/features/queryindependent/PwaUrlSlashes.class
PwaLucene/src/main/java/org/apache/lucene/search/features/temporal/PwaAge.class
PwaLucene/src/main/java/org/apache/lucene/search/features/temporal/PwaBoostNewer.class
PwaLucene/src/main/java/org/apache/lucene/search/features/temporal/PwaBoostNewerAndOlder.class
PwaLucene/src/main/java/org/apache/lucene/search/features/temporal/PwaBoostOlder.class
PwaLucene/src/main/java/org/apache/lucene/search/features/temporal/PwaNumberVersions.class
PwaLucene/src/main/java/org/apache/lucene/search/features/temporal/PwaSpanVersions.class
PwaLucene/src/main/java/org/apache/lucene/search/features/temporal/PwaTimePointDivergence.class
PwaLucene/src/main/java/org/apache/lucene/search/filters/PwaBlacklistFilter.class
PwaLucene/src/main/java/org/apache/lucene/search/filters/PwaDateClosestFilter.class
PwaLucene/src/main/java/org/apache/lucene/search/filters/PwaDateRangeFilter.class
PwaLucene/src/main/java/org/apache/lucene/search/filters/PwaFilter.class
PwaLucene/src/main/java/org/apache/lucene/search/filters/PwaFilterChain.class
PwaLucene/src/main/java/org/apache/lucene/search/memcached/Memcached.class
PwaLucene/src/main/java/org/apache/lucene/search/memcached/MemcachedTransactions.class
PwaLucene/src/main/java/org/apache/lucene/search/memcached/PwaBinaryConnectionFactory.class
PwaLucene/src/main/java/org/apache/lucene/search/memcached/UrlRow.class
PwaLucene/src/main/java/org/apache/lucene/search/queries/PwaClosestQuery.class
PwaLucene/src/main/java/org/apache/lucene/search/queries/PwaSearchTypesQuery.class
PwaLucene/src/main/java/org/apache/lucene/search/queries/PwaSortQuery.class
PwaLucene/src/main/java/org/apache/lucene/search/tests/ArchiveUtils$1.class
PwaLucene/src/main/java/org/apache/lucene/search/tests/ArchiveUtils.class
PwaLucene/src/main/java/org/apache/lucene/search/tests/PwaBM25Test.class
PwaLucene/src/main/java/org/apache/lucene/search/tests/PwaBoostNewerAndOlderTest.class
PwaLucene/src/main/java/org/apache/lucene/search/tests/PwaBoostNewerTest.class
PwaLucene/src/main/java/org/apache/lucene/search/tests/PwaBoostOlderTest.class
PwaLucene/src/main/java/org/apache/lucene/search/tests/PwaDateDistributionSearchTest.class
PwaLucene/src/main/java/org/apache/lucene/search/tests/PwaLinInlinksTest.class
PwaLucene/src/main/java/org/apache/lucene/search/tests/PwaLinInlinksTest.java
PwaLucene/src/main/java/org/apache/lucene/search/tests/PwaLinPagerankTest.class
PwaLucene/src/main/java/org/apache/lucene/search/tests/PwaLinPagerankTest.java
PwaLucene/src/main/java/org/apache/lucene/search/tests/PwaLuceneSimilarityTest.class
PwaLucene/src/main/java/org/apache/lucene/search/tests/PwaMinSpanTest.class
PwaLucene/src/main/java/org/apache/lucene/search/tests/PwaNumberVersionsTest.class
PwaLucene/src/main/java/org/apache/lucene/search/tests/PwaSearchTest.class
PwaLucene/src/main/java/org/apache/lucene/search/tests/PwaSpanVersionsTest.class
PwaLucene/src/main/java/org/apache/lucene/search/tests/PwaTFxIDFTest.class
PwaLucene/src/main/java/org/apache/lucene/search/tests/PwaUrlDepthTest.class
PwaLucene/src/main/java/org/apache/lucene/search/tests/PwaUrlDepthTest.java
PwaLucene/src/main/java/org/apache/lucene/search/tests/PwaUrlSlashesTest.class
PwaLucene/src/main/java/org/apache/lucene/search/tests/PwaUrlSlashesTest.java
PwaLucene/src/main/java/org/apache/lucene/util/ArrayUtil.class
PwaLucene/src/main/java/org/apache/lucene/util/AverageGuessMemoryModel$1.class
PwaLucene/src/main/java/org/apache/lucene/util/AverageGuessMemoryModel.class
PwaLucene/src/main/java/org/apache/lucene/util/Base32.class
PwaLucene/src/main/java/org/apache/lucene/util/BitUtil.class
PwaLucene/src/main/java/org/apache/lucene/util/Constants.class
PwaLucene/src/main/java/org/apache/lucene/util/MemoryModel.class
PwaLucene/src/main/java/org/apache/lucene/util/OpenBitSet.class
PwaLucene/src/main/java/org/apache/lucene/util/OpenBitSetDISI.class
PwaLucene/src/main/java/org/apache/lucene/util/OpenBitSetIterator.class
PwaLucene/src/main/java/org/apache/lucene/util/PwaExtractFieldValues.class
PwaLucene/src/main/java/org/apache/lucene/util/RamUsageEstimator.class

