[submodule "functional-tests"]
	path = functional-tests
	url = git@github.com:arquivo/functional-tests.git
[submodule "Plone"]
	path = Plone
	url = git@github.com:arquivo/Plone
[submodule "PrototypeReplayBarHTML"]
	path = PrototypeReplayBarHTML
	url = git@github.com:arquivo/PrototypeReplayBarHTML
[submodule "scripts"]
	path = scripts
	url = git@github.com:arquivo/scripts
[submodule "TestCollection"]
	path = TestCollection
	url = git@github.com:arquivo/TestCollection
[submodule "PwaLogsMiner"]
	path = PwaLogsMiner
	url = git@github.com:arquivo/PwaLogsMiner
