body {
	font: 100% Arial, Helvetica, sans-serif;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: left; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
	background-color: #ffffff;
}

/* Tips for Elastic layouts 
1. Since the elastic layouts overall sizing is based on the user's default fonts size, they are more unpredictable. Used correctly, they are also more accessible for those that need larger fonts size since the line length remains proportionate.
2. Sizing of divs in this layout are based on the 100% font size in the body element. If you decrease the text size overall by using a font-size: 80% on the body element or the #container, remember that the entire layout will downsize proportionately. You may want to increase the widths of the various divs to compensate for this.
3. If font sizing is changed in differing amounts on each div instead of on the overall design (ie: #sidebar1 is given a 70% font size and #mainContent is given an 85% font size), this will proportionately change each of the divs overall size. You may want to adjust based on your final font sizing.
*/
.oneColElsCtrHdr #container {
	width: 46em;  /* this width will create a container that will fit in an 800px browser window if text is left at browser default font sizes */
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
}

/*********************
.oneColElsCtrHdr #header { 
	background: #DDDDDD; 
	padding: 0 10px 0 20px; **************/ /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
/******************}***************/ 
/***********.oneColElsCtrHdr #header h1 { *********************/
/***********	margin: 0; ************************************//* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
/***********	padding: 10px 0; ******************************//* using padding instead of margin will allow you to keep the element away from the edges of the div */
/***********}**************************************************/

/** From NW **/
.oneColElsCtrHdr #header {
		color: white;
        position: absolute;
        width: 100%;
        top: 0px;
        height: 125px;
        background-color: #016bb8;
}
.oneColElsCtrHdr #header #title{
		text-align: left;
		margin-left: 200px;
		margin-top: 60px;
}
.oneColElsCtrHdr #header a {
        color: white;
}
.oneColElsCtrHdr #header a:hover {
        background-color: white;
        color: blue;
}

.oneColElsCtrHdr #header #logo {
	float: left;	
}

.oneColElsCtrHdr #header #logo img {
        top: -8px;
        margin-left: 20px;
        position: absolute;
        border: 0;
}

.oneColElsCtrHdr #header #logo a:active {
        position: absolute;
        top: 4px;
}

.info_bar {
		position: relative;
		top: 125px;
        background-color: #cee164;
	padding: 0.2em 0;
}

/** END From NW **/



.oneColElsCtrHdr #mainContent {
	background: #FFFFFF;
	margin-top: 145px;
  	border: #CEE164 solid 3px;
}
.oneColElsCtrHdr #mainContent h3 {
	display: inline;
	float: left;
	margin-top: 0;
}
.oneColElsCtrHdr #mainContent input, .oneColElsCtrHdr #mainContent select {
	font-family: arial, sans-serif;
	font-size: medium;
}
.oneColElsCtrHdr #footer { 
	padding: 0 10px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	background:#DDDDDD;
} 
.oneColElsCtrHdr #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
}

form {  /* set width in form, not fieldset (still takes up more room w/ fieldset width */
  font:100% Arial,sans-serif;
  margin: 0;
  padding: 0;
  /**outline: #CEE164 solid 3px;**/
}

form #sub-title {
	margin: 0 0 1em;
	background-color: #CEE164;
	border-bottom: 3px #CEE164 solid;
	text-align: right;
}

form #bottom-submit {
	background-color: #CEE164;
	border-top: #CEE164 solid 3px;
	text-align: right;
}

form #bottom-submit input {
	float: none;
}

form fieldset {
  /* clear: both; note that this clear causes inputs to break to left in ie5.x mac, commented out */
  border-width: 1px;
  border-style: solid none none none;
  border-color: #CCC;
  border-width: 1px;
  padding: 10px 2em 10px 10px;        /* padding in fieldset support spotty in IE */
  margin: 0 0 1em 0;
}

form fieldset legend {
	color: #000;
	font-size:1.1em; /* bump up legend font size, not too large or it'll overwrite border on left */
                       /* be careful with padding, it'll shift the nice offset on top of border  */
}

form label { 
	display: block;  /* block float the labels to left column, set a width */
	float: left; 
	width: 17em; 
	padding: 0 0 0 2em; 
	margin: 3px 0 0; /* set top margin same as form input - textarea etc. elements */
	text-align: left; 
}

form input, form textarea {
	/* display: inline; inline display must not be set or will hide submit buttons in IE 5x mac */
	width:auto;      /* set width of form elements to auto-size, otherwise watch for wrap on resize */
	margin:0 0 0 0; /* set margin on left of form elements rather than right of
                              label aligns textarea better in IE */
}

form input:focus {
	outline: orange solid thin;
}

form input#reset {
	margin-left:0px; /* set margin-left back to zero on reset button (set above) */
}

form br {
	clear:left; /* setting clear on inputs didnt work consistently, so brs added for degrade */
}

fieldset input[type="text"], fieldset input[type="url"] {
	width: 23em;
}

fieldset#date input {
	width: 6em;	
}

fieldset#date label {

}

fieldset input[type="radio"], fieldset input[type="checkbox"] {
	margin: 5px 5px 0 0;	
}

form input[type="submit"] {
	margin: 0;
}

#labelNewest,#labelOldest,#labelRelevance {
	margin-left: 17em;
	float: none;
}

/*fieldset#date #labelNewest input,fieldset#date #labelOldest input,fieldset#date #labelRelevance input {*/
#labelNewest input, #labelOldest input, #labelRelevance input {
	width: auto;
}

#dateStartBlock, #dateEndBlock {
	/*display: block;*/
	/*float: left;	*/
}

#labelDateEnd {
	padding: 0;
	margin: 0;	
	text-align: center;	
	width: 50px;
}

#sort, #formatType {
	width: 14em;
}

#utilities {
	position: absolute;
	float: right;
	top: 5px;
	right: 8px;
	font-size: small;
	color: white;
}

#utilities a {
	color: white;
}

#utilities a:hover {
	background-color: white;
	color: blue;
}

.withTip {
	float:left;	
}

.tip {
	font-size: small;
	color:#666;
}

.right-column {
	padding: 0;	
}

.line-spacing {
	margin-top: 5px;
}

.spacing {
	clear: both;
	margin-bottom: 1.5em;	
}
.no-margin {
 margin: 0;
}

.ui-datepicker-trigger {
	margin-left: 2px;	
}

.ui-datepicker select {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 0.9em;
}

.ui-datepicker .ui-datepicker-title select {
        font-size: 0.9em;
}


/********* CSS Code for Terms & Conditions **********/
#legalNotice {
        background: #FFFFFF;
        margin-top: 145px;
}

#legalNotice h2 {
	text-align: center;
	margin-bottom: 0.5em;
}

#legalNotice li {
	font-weight: bold;
}

#legalNotice h3 {
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}
#legalNotice p, #legalNotice dd {
	font-weight: normal;
}
#legalNotice dd {
	margin-bottom: 1em;
}
#last_modified {
	margin-top: 3em;
}
#last_modified h4 {
	display: inline;
}
#footer {
        padding: 0 10px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
        background:#DDDDDD;
}
#footer p {
        margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
        padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
}

#sponsor {
	text-align: center;
}

