body,html{
/*	height: 100%;
	width: 100%*/
}

.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
}
.swiper-wrapper {
	/*background-color: #252525;*/
}
.menu {
	min-width: 100px;
	width: 70%;
	max-width: 320px;
	min-height: 100vh;
	overflow-y: auto;
	background-color: #252525;
	color: #fff;
    display: initial;
}
.content {
	width: 100%;
	min-height: 100vh;
}

.bar {
	position: relative;
	display: block;

	width: 50px;
	height: 5px;

	margin: 10px auto;
	background-color: #fff;

	border-radius: 10px;

	-webkit-transition: .3s;
	transition: .3s;
}

.menu h4{
	border-top: 1px solid #3E3E3E;;
	padding-top: 15px;
	margin-bottom: 0px;
	padding-bottom: 15px;
	margin-top: 0px;
	padding-left: 20px;
	cursor: pointer;
	text-decoration: none;
}

.menu h4:hover, .menu h4:visited, .menu h4:link, .menu h4:active
{
    text-decoration: none;
}

.submenu{
	background-color: #343434;
    padding-left: 30px!important;
}


.menu a{
	color:white;
	text-decoration: none;
}

.menu h4:active{
	 background: rgba(255, 255, 255, 0.2)!important;
}	

#topBarFixed{
    border-bottom: 1px solid lightgrey;
    background-color: white;
    min-height: 0!important;
    padding-top: 12px;
    padding-bottom: 13px;
    /*z-index: 1000!important;**/
}

#mainMask{
	position: absolute;
    margin: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 16777269;
    opacity: 0.7;
    display: none;
}

#menuButton{
	cursor: pointer;
}

.main-content{
	width:100%;
	height: 100%;
}

.logo-main-div{
	padding-left: 15px;
	padding-top:10px;
	padding-bottom:10px;
	background-color: #f8f7f7/*#f5f5f5*//*#ebebeb*//*#252525*/ /*transparent*/ !important;
	/*border-bottom: 1px solid #ccc ;*/
	line-height: 30px;
}

.logo-main{
	width:auto;
	max-height: 23px;
	margin-top:4px;
	float:left;
}

.main-menu, .main-menu:active, .main-menu:visited, .main-menu:link, .main-menu:hover{
	color:/*white*/ #777;
	font-size:23px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 30px;
	vertical-align: middle;
	cursor: pointer;
	z-index: 16777270;
	position: relative;
}

.main-menu-top-div{
	background-color:#42a5f5
}

.line-height{
	line-height: 30px!important;
	z-index: 16777270;
	position: relative;
}
.shareCarret{
	padding-right: 20px;
}

#shareOptions, #toolsOptions, #pageOptions, #imageOptions{
	display: none;
}

.padding-right-menu-icon{
	padding-right: 5px;
}

/* New search button  CSS */
span#buttonSearch {border: red !important;}