body{
    font-size: 12px!important;
    font-family: "Open Sans", sans-serif;
}

.stylish-input-group button{
    border:0;
    background:transparent;
    outline:none;
}

#searchForm .form-control{
    font-size: 16px!important;
    height: 40px!important;
    padding-right: 40px!important;
}

#form_container{
    margin-top: 10px;
}

@media (min-width: 0px) and (max-width: 767px) {
    .mt-xs-5 { margin-top: 5px; }
    .mt-xs-10 { margin-top: 10px; }
    .mt-xs-30 { margin-top: 30px; }
    .mt-xs-100 { margin-top: 100px; }
    .mt-xs-1p { margin-top: 1%; }
    .mr-xs-5 { margin-right: 5px; }
    .mr-xs-1p { margin-right: 1%; }
    .mb-xs-5 { margin-bottom: 5px; }
    .mb-xs-1p { margin-bottom: 1%; }
    .ml-xs-5 { margin-left: 5px; }
    .ml-xs-1p { margin-left: 1%; } 
}

@media (min-width: 768px) and (max-width: 1199px) {
    .mt-smd-5 { margin-top: 5px; }
    .mt-smd-10 { margin-top: 10px; }
    .mt-smd-30 { margin-top: 30px; }
    .mt-smd-100 { margin-top: 100px; }
    .mt-smd-1p { margin-top: 1%; }
    .mr-smd-5 { margin-right: 5px; }
    .mr-smd-1p { margin-right: 1%; }
    .mb-smd-5 { margin-bottom: 5px; }
    .mb-smd-1p { margin-bottom: 1%; }
    .ml-smd-5 { margin-left: 5px; }
    .ml-smd-1p { margin-left: 1%; } 
}

#resultados-lista ul{
    list-style-type: none;
    padding-left: 0px;
}

.url{
    word-wrap: break-word;
    color: green;
}

#resultados-lista ul li h2{
    font-size: 14px;
    margin-bottom: 2px;
    padding-top: 0px;
    margin-top: 0px;
}

#resultados-lista > ul > li{
    padding-bottom: 14px;
    border-top: solid 2px lightgrey;
    word-wrap: break-word;
}

/* Css For Tablet and Desktop versions*/
@media screen and (min-width: 768px) {
	#resultados-lista > ul > li{
		border: 1px solid lightgrey ;
	    margin-bottom: 10px;
	    border-radius: 4px;		
	}
}

#resultados-lista > ul > li:nth-child(odd){
    background: #fafafa;
}

#resultados-lista > ul > li:last-child{
    border-bottom: solid 1px lightgrey;
}

#conteudo-resultado{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 40px;
}

.date{
    font-weight: bold;
    cursor: initial;
}

.pagesNextPrevious{
	margin-top: 20px;
}

.pagesNextPrevious > ul{
    list-style-type: none;
    padding-left: 0px;
}

.pagesNextPrevious > ul > li{
    display: inline-block;
}

.myButtonStyle{
    background-color: #efefef!important;
    border: 1px solid #d0d0d0!important;
    border-bottom: 2px solid #d0d0d0!important;
    border-radius: 0!important;
    margin-bottom: 30px!important;
    outline: none!important;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
    color: #555;
}

.right10{
    margin-right: 10px;
}

#slider-caption{
   /* display: none;*/
}

.noUi-handle-upper{
    /*left: -8px!important;*/
    left: -24px!important;
}

.noUi-handle-lower{
    /*left: -18px!important;*/
    left: -36px!important;
}



.noUi-horizontal .noUi-handle {
/*    width: 25px!important;
    height: 25px!important;
    top: -8px!important;
*/

    width: 40px!important;
    height: 40px!important;
    padding: 30px;
    top: -27px!important;
    background-image: url(/img/circle-512-grey.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 20px 20px;
    background-position: -10px, 0;
    border: transparent;
    background-color: transparent;
}

.noUi-handle {
    border-radius: 25px!important;
    box-shadow: none!important;
    cursor: move!important; /* fallback if grab cursor is unsupported */
    cursor: grab!important;
    cursor: -moz-grab!important;
    cursor: -webkit-grab!important;    
}

.noUi-handle:active{
    outline: none;
    width: 40px!important;
    height: 40px!important;
    padding: 30px;
    top: -27px!important;
    background-image: url(/img/circle-512-active.png)!important;
    background-repeat: no-repeat!important;
    background-origin: content-box!important;
    background-size: 20px 20px!important;
    background-position: -10px, 0!important;
    border: transparent!important;
    background-color: transparent!important;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);    */
  /*  border: 1px solid #42a5f5!important;*/
}

.noUi-active{
    outline: none;
    width: 40px!important;
    height: 40px!important;
    padding: 30px;
    top: -27px!important;
    background-image: url(/img/circle-512-active.png)!important;
    background-repeat: no-repeat!important;
    background-origin: content-box!important;
    background-size: 20px 20px!important;
    background-position: -10px, 0!important;
    border: transparent!important;
    background-color: transparent!important;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);    */
   /* border: 1px solid #42a5f5!important;*/
}

.noUi-handle:focus{
    outline: none;
}

.noUi-handle:active { 
    cursor: grabbing!important;
    cursor: -moz-grabbing!important;
    cursor: -webkit-grabbing!important;
}

.noUi-horizontal {
    height: 10px!important;
}

.noUi-connect{
    box-shadow: none!important;
    background: #e3f2fd!important;
}

.noUi-handle:after, .noUi-handle:before{
    content:none!important;
}

.yearUl{
    background: #42a5f5;
    text-align: left;
    padding-top: 5px;
    margin-bottom: 1px;
    margin-left: 0px!important;
    margin-right: 0px!important;
    /*padding-left: 1%;*/
    cursor: pointer;
}

.yearUl:active{
    background: #2196f3;
}
.yearUl > div:nth-child(3){
    margin-top: 42px;
    border-top: 1px solid white;
}

.preventYear:active{
    background: #42a5f5!important;
}


.year-version-div{
    text-align: center;
    padding-top: 15px;
    display: none;
    cursor: pointer;
}

.month-version-div{
    text-align: center;
    display: none;
    background-color: #90caf9;
    color: white;
    cursor: pointer;
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.month-version-div:active{
    background: #64b5f6;
}
.preventMonth:active{
    background: #90caf9!important;
}

.day-version-div{
    padding-top: 12px;
    padding-bottom: 13px;
    text-align: left;
    display: none;
    cursor: pointer;
    background-color: #e3f2fd;
}




.yearA{
    width: 100%;
}

.yearUl a{
    text-decoration: underline;
    font-size: 16px!important;
    width: 100%;
    border-bottom: 1px dashed;
}

.day-version-div{
    border-bottom: 1px dashed white!important;
}

.day-version-div:hover{
    border-bottom: 1px dashed white!important;
}

.day-version-div:visited{
    border-bottom: 1px dashed white!important;
}

.day-version-div:last-child{
    border-bottom: 1px solid white!important;
}


.day-version-div:active{
    background-color: #bbdefb;
}

.noVersions span{
    color: #555555!important;
    font-weight: normal!important;
}

.yearUl > span{
    font-size: 3vmin!important;
    color: white;
    font-weight: bold;
}

.yearText{
    /*margin-left: 5%;*/
    color: white;
}

.noVersions{
    background: #f7f7f7!important;
    color: #555555!important;
    cursor: default!important;
    display: none;/*Para já não mostrar anos sem versões*/
}
.numberVersions{
    float: right;
    padding-right: 1%;
    color: white;
    padding-bottom: 5px;
}

.iCarret{
    margin-left: 15px;
}

.iCarretDisabled{
    margin-left: 15px;
    visibility: hidden;
}

#resultados-url{
    display: none; /*Remove this div for mobile view?*/
}


.carousel-control.left{
    background: transparent!important;
     opacity: 1!important;
     color: #90caf9!important
}
.carousel-control.right{
    background: transparent!important;
     opacity: 1!important;
     color: #90caf9!important
}



.carousel-control.left:active{
    background: #efefef!important;
}

.carousel-control.right:active{
    background: #efefef!important;
}

.carousel-indicators{
    bottom: 6px!important;
}

.carousel-control{
  width: 10%!important;
}

.glyphicon-chevron-left{
    font-size: 25px;
    top: 45%!important;
}

.glyphicon-chevron-right{
    font-size: 25px;
    top: 45%!important;
}

.carousel-inner{
    width: 80%!important;
}

h5{
        margin-top: 5px!important;
}

.input-group-addon:active{
    background-color: #efefef!important;
}

h5{
    margin: 0!important;
}

.show-day-version{
    display: inline-block;
}

.month-margins{
    padding-bottom: 15px!important;
    padding-top: 15px!important;
    border-bottom: 1px solid white;
    margin-top:0px;
    margin-bottom: 0px;
}

.month-left{
    padding-left: 30px!important;
}

.month-right{
    /*padding-right: 45px!important;*/
}

.input-start-year{
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    border: 1px solid #ccc;
    /*color: #a1a1a1;*/
    border-radius: 0px;
    width: 60px;
    font-size: 14px;
}

.input-end-year{
    float: right;
    margin-right: 15px;
    margin-top: 10px;
    border: 1px solid #ccc;
    /*color: #a1a1a1;    */
    border-radius: 0px; 
    width: 60px;   
    font-size: 14px;
}


legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

.titulo-advanced{
    margin-left:15px;
    margin-top: 20px;

    
}

.main-form-advanced{
    /*margin-top: 30px;*/
}

.expandable-div{
    background-color: #42a5f5;
    /*margin-bottom: 3vh;*/
    color: grey;
}

.expandable-div legend:active{
    background-color: #2196f3;
}

.myButtonStyle:active{
    background-color: #dedede!important;
    color: #555;
    text-decoration: none;
}
.myButtonStyle:hover{
    color: #555;
    text-decoration: none;	
}

.myButtonStyle:focus{
    outline: none;
    color: #555;
    text-decoration: none;    
}

.myButtonStyle:visited{
    color: #555;
    text-decoration: none;    	
}


.expandable-div legend{
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    margin-bottom: 0px;
    font-size: 16px;
    cursor: pointer;
}

.box-content{
    background-color: #e3f2fd;
    padding-bottom: 15px;
    padding-left: 45px!important;
}

.no-padding-left{
    padding-left: 0px!important;
}

.label-padding-top{
    padding-top: 15px;
}

.box-content label{
    color: black;
    font-weight: normal;
    font-size: 13px;
}

.box-content input{
    color: initial;
    padding-left: 5px!important;
    font-size: 13px;
    border: 1px solid lightgray;
}

.date-advanced{
    width: 150px!important;
}

.number-results-advanced{
    width: 75px;
}

#btnSubmitBottom span{
    color: darkgrey;
    top: 2px!important;
}

.right-15{
    padding-right: 15px;
}

.select-style{
    display: block;
    /*width: 100%;*/
    height: inherit;
    /*border: inherit;*/
    padding: 3px 12px;
    /*border-radius: 0px!important;*/
    color: black;
    border-radius: 0px;
    background-color: #fff;
    font-size:13px;

}

.select-style:focus {
    outline: none;
}

.title-advanced{
    background: #2196f3;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-size: 20px!important;
}

.button-advanced{
    margin-top: 15px;
}

.text-bold{
    font-weight: bold;
}

.my-alert{
    border-radius: 0px!important;
}

.suggestions-no-results li {
    margin-bottom: 5px;
}

em{
    font-weight: bold;
    font-style: normal
}

.calendar-anchor-advanced{
    margin-left: 18px;
    cursor: pointer;
}

.noUi-tooltip{
    border: none!important;
    padding: 0!important;
    color: grey!important;
}

.glyphicon-chevron-right, .glyphicon-chevron-left{
    z-index: 3!important;
}
.search-button-span{
    padding: 0px!important;
    margin: 0;
    background: #42a5f5!important;
    cursor: pointer;
}
.search-span{
    padding: 0!important;
    margin: 0!important;
}

#slider-date{
    height: 6px!important;
    margin-top: 15px;
    margin-bottom: 10px;
}

.text-bold{
    font-weight: bold;
}

.no-radius{
    border-radius: 0px!important;
}

.topcontainer{
    margin-top: 15px;
    margin-bottom: 21px;
}

.no-padding-horizontal{
    padding-left: 0px; 
    padding-right: 0px;
}

#my-slider{
    margin-right: 5px;
    margin-left: 5px;
}

.no-padding-left{
    padding-left: 0px!important;
}

.padding-left-5{
    padding-left: 5px;
}

#divLoading{
    display: none;
}

#years h4{
    font-size: 16px!important;
}
.list-versions-div{
    cursor: pointer;
    padding-top: 4px;
}
.list-versions-div:active{
    background: #efefef;
}

.urlBlock{
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;    
    padding-top: 14px;
    cursor: pointer;
}

.urlBlock:active{
    background: #efefef;
}

.summary{
    padding-left: 15px;
    padding-right: 15px;
}

.border-bottom{
    border-bottom: 1px solid lightgrey;
    margin-top: 5px;    
}

.break-word{
    word-wrap: break-word;
}

.search-input:active, .search-input:focus {
    border: 1px solid #42a5f5!important;
}


.search-button-span:hover, .search-button-span:active{
    /*#2196f3*/
    background: #2196f3!important;
}

.search-button{
    height: 38px;
    padding: 0px 12px 0px 12px!important;
}

.input-start-year:focus, .input-end-year:focus{
    /*#2196f3*/
    outline: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);    
    border: 1px solid #42a5f5!important;
}

input:active, input:focus{
        outline: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);    
    border: 1px solid #42a5f5!important;
}


.white{
    color:white;
}

.display-none{
    display: none;
}

.videoWrapper {
    width: 75%;
    margin-left: 12.5%;
    margin-top: 80px;
    position: relative;
    padding-bottom: 47.0%;
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mime{
    font-size: 10px;
}

.select-sort-type{
	width: 83.33333333%!important;
}

#conteudo-pesquisa-erro{
	margin-left:15px;
	margin-right: 15px;
}

.spell{
    padding-left: 15px;
    padding-bottom: 10px;
}

#years{
	padding-bottom: 40px;
}

.clear-text{
    position: absolute;
    font-size: 28px;
    color: lightgrey;
    right: 41px;
    z-index: 3;
    height: 38px;
    padding: 5px 8px 37px 8px;
    -webkit-text-stroke: 4px white;
    cursor: pointer;
    display: none;
}

.clear-text:active, .clear-text:hover{
    color: #555555;
}