body{
    font-size: 12px!important;
    font-family: "Roboto","Open Sans", sans-serif;    
    outline: none;
}

.stylish-input-group button{
    border:0;
    background:transparent;
    outline:none;
}

#searchForm .form-control{
    font-size: 18px !important;
    font-family: "Roboto";
    height: 52px !important;
    /*padding-right: 40px!important;*/
    border-radius: 100px !important;
    text-align: left/*center*/;
    -webkit-box-shadow: 0px 4px 5px -2px rgba(0,0,0,0); 
    box-shadow: 0px 4px 5px -2px rgba(0,0,0,0);/*cursor: pointer;*/;
    transition: box-shadow 0.5s ease 0s;  
    /*background-color: #fbfbfb*/
    padding-left: 24px;
}

/* NEW STYLE: Hover search bar effect*/
#searchForm .form-control:hover{
    -webkit-box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.25); 
    box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.25);;/*cursor: pointer;*/;
    border:1px solid #ebebeb;
    background-color: #fff;
}

/* NEW STYLE: forcing 100% width on the search bar */
#searchBarBlock {
    position: relative !important;
    margin-top:-20px;
    display:block !important;    
    width: 100% !important;

}
#buttonSearch button {
    position: absolute;
    z-index: 999999;
    right: 30px !important;
    padding: 15px 0px 15px 0 !important;
    outline: none;
    border:none;
    background-color: transparent;

}

/* NEW STYLE: slider range circle */
#sliderCircleRight {padding-right: 12px;padding-top: 10px}
#sliderCircleLeft {padding-left: 12px;padding-top: 10px}

#searchForm .form-control:focus {  
    border:1px solid #ebebeb !important;
    background-color: #fff;
    content: "";
}

#ionSlider {    
    float: left;
    width: 100%;
    border-radius: 60px;
    border: 1px solid #ccc;
    margin-top: 18px;
    outline: none;
    -webkit-box-shadow: 0px 4px 5px -2px rgba(255,255,255,1); 
    box-shadow: 0px 4px 5px -2px rgba(255,255,255,1); /*cursor: pointer;*/;
    transition: box-shadow 0.5s ease 0s;  
}

#ionSlider:hover {    
    background-color: #ebebeb !important;    
    -webkit-box-shadow: 0px 4px 5px -2px rgba(0,0,0,0); 
    box-shadow: 0px 4px 5px -2px rgba(0,0,0,0);/*cursor: pointer;*/;
    transition: box-shadow 0.5s ease 0s;  
}

#searchForm{
    margin-top: /*30*/25px;
}

/* NEW STYLE: Change placeholder */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc !important;
  font-family: "Roboto";
  font-weight: 100;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc !important;
  font-family: "Roboto";
  font-weight: 100;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc !important;
  font-family: "Roboto";
  font-weight: 100;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc !important;
  font-family: "Roboto";
  font-weight: 100;
}

#form_container{
    margin-top: 10px;
}

@media (min-width: 0px) and (max-width: 767px) {
    .mt-xs-5 { margin-top: 5px; }
    .mt-xs-10 { margin-top: 10px; }
    .mt-xs-30 { margin-top: 30px; }
    .mt-xs-100 { margin-top: 100px; }
    .mt-xs-1p { margin-top: 1%; }
    .mr-xs-5 { margin-right: 5px; }
    .mr-xs-1p { margin-right: 1%; }
    .mb-xs-5 { margin-bottom: 5px; }
    .mb-xs-1p { margin-bottom: 1%; }
    .ml-xs-5 { margin-left: 5px; }
    .ml-xs-1p { margin-left: 1%; } 
}

@media (min-width: 768px) and (max-width: 1199px) {
    .mt-smd-5 { margin-top: 5px; }
    .mt-smd-10 { margin-top: 10px; }
    .mt-smd-30 { margin-top: 30px; }
    .mt-smd-100 { margin-top: 100px; }
    .mt-smd-1p { margin-top: 1%; }
    .mr-smd-5 { margin-right: 5px; }
    .mr-smd-1p { margin-right: 1%; }
    .mb-smd-5 { margin-bottom: 5px; }
    .mb-smd-1p { margin-bottom: 1%; }
    .ml-smd-5 { margin-left: 5px; }
    .ml-smd-1p { margin-left: 1%; } 
}

#resultados-lista ul{
    list-style-type: none;
    padding-left: 0px;
}

.url{
    word-wrap: break-word;
    color: green;
}

#resultados-lista ul li h2{
    font-size: 14px;
    margin-bottom: 2px;
    padding-top: 0px;
    margin-top: 0px;
}

#resultados-lista > ul > li{
    padding-bottom: 14px;
    border-top: solid 1px lightgrey;
    word-wrap: break-word;
}

/* Css For Tablet and Desktop versions*/
@media screen and (min-width: 768px) {
	#resultados-lista > ul > li{
		border: 1px solid lightgrey ;
	    margin-bottom: 15px;
	    border-radius: 4px;
        margin-left: 15px;
        margin-right: 15px;        		
	}
}

#resultados-lista > ul > li:nth-child(odd){
    background: #fafafa;
}

#resultados-lista > ul > li:last-child{
    border-bottom: solid 1px lightgrey;
}

#conteudo-resultado{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 40px;
    margin-top: 30px;
}

.date{
    font-weight: bold;
    cursor: initial;
}

.pagesNextPrevious{
	margin-top: 20px;
}

.pagesNextPrevious > ul{
    list-style-type: none;
    padding-left: 0px;
}

.pagesNextPrevious > ul > li{
    display: inline-block;
}

.myButtonStyle{
    background-color: #efefef!important;
    border: 1px solid #d0d0d0!important;
    border-bottom: 2px solid #d0d0d0!important;
    border-radius: 0!important;
    margin-bottom: 30px!important;
    outline: none!important;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
    color: #555;
}

.right10{
    margin-right: 10px;
}

#slider-caption{
    margin-top: 18px;
}

@media (min-width: 1280px){
    #slider-caption{
        margin-top: 40px;
    }
}

.noUi-handle-upper{
    /*left: -8px!important;*/
    left: -24px!important;
}

.noUi-handle-lower{
    /*left: -18px!important;*/
    left: -36px!important;
}



.noUi-horizontal .noUi-handle {
/*    width: 25px!important;
    height: 25px!important;
    top: -8px!important;
*/

    width: 40px!important;
    height: 40px!important;
    padding: 30px;
    top: -27px!important;
    background-image: url(/img/circle-512-grey.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 20px 20px;
    background-position: -10px, 0;
    border: transparent;
    background-color: transparent;
}

.noUi-handle {
    border-radius: 25px!important;
    box-shadow: none!important;
    cursor: move!important; /* fallback if grab cursor is unsupported */
    cursor: grab!important;
    cursor: -moz-grab!important;
    cursor: -webkit-grab!important;    
}

.noUi-handle:active{
    outline: none;
    width: 40px!important;
    height: 40px!important;
    padding: 30px;
    top: -27px!important;
    background-image: url(/img/circle-512-active.png)!important;
    background-repeat: no-repeat!important;
    background-origin: content-box!important;
    background-size: 20px 20px!important;
    background-position: -10px, 0!important;
    border: transparent!important;
    background-color: transparent!important;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);    */
  /*  border: 1px solid #42a5f5!important;*/
}

.noUi-active{
    outline: none;
    width: 40px!important;
    height: 40px!important;
    padding: 30px;
    top: -27px!important;
    background-image: url(/img/circle-512-active.png)!important;
    background-repeat: no-repeat!important;
    background-origin: content-box!important;
    background-size: 20px 20px!important;
    background-position: -10px, 0!important;
    border: transparent!important;
    background-color: transparent!important;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);    */
   /* border: 1px solid #42a5f5!important;*/
}

.noUi-handle:focus{
    outline: none;
}

.noUi-handle:active { 
    cursor: grabbing!important;
    cursor: -moz-grabbing!important;
    cursor: -webkit-grabbing!important;
}

.noUi-horizontal {
    height: 10px!important;
}

.noUi-connect{
    box-shadow: none!important;
    background: #e3f2fd!important;
}

.noUi-handle:after, .noUi-handle:before{
    content:none!important;
}

.yearUl{
    background: #42a5f5;
    text-align: left;
    padding-top: 5px;
    margin-bottom: 1px;
    margin-left: 0px!important;
    margin-right: 0px!important;
    /*padding-left: 1%;*/
    cursor: pointer;
}

.yearUl:active{
    background: #2196f3;
}
.yearUl > div:nth-child(3){
    margin-top: 42px;
    border-top: 1px solid white;
}

.preventYear:active{
    background: #42a5f5!important;
}


.year-version-div{
    text-align: center;
    padding-top: 15px;
    display: none;
    cursor: pointer;
}

.month-version-div{
    text-align: center;
    display: none;
    background-color: #90caf9;
    color: white;
    cursor: pointer;
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.month-version-div:active{
    background: #64b5f6;
}
.preventMonth:active{
    background: #90caf9!important;
}

.day-version-div{
    padding-top: 12px;
    padding-bottom: 13px;
    text-align: left;
    display: none;
    cursor: pointer;
    background-color: #e3f2fd;
}




.yearA{
    width: 100%;
}

.yearUl a{
    text-decoration: underline;
    font-size: 16px!important;
    width: 100%;
    border-bottom: 1px dashed;
}

.day-version-div{
    border-bottom: 1px dashed white!important;
}

.day-version-div:hover{
    border-bottom: 1px dashed white!important;
}

.day-version-div:visited{
    border-bottom: 1px dashed white!important;
}

.day-version-div:last-child{
    border-bottom: 1px solid white!important;
}


.day-version-div:active{
    background-color: #bbdefb;
}

.noVersions span{
    color: #555555!important;
    font-weight: normal!important;
}

.yearUl > span{
    font-size: 3vmin!important;
    color: white;
    font-weight: bold;
}

.yearText{
    /*margin-left: 5%;*/
    color: white;
}

.noVersions{
    background: #f7f7f7!important;
    color: #555555!important;
    cursor: default!important;
    display: none;/*Para já não mostrar anos sem versões*/
}
.numberVersions{
    float: right;
    padding-right: 1%;
    color: white;
    padding-bottom: 5px;
}

.iCarret{
    margin-left: 15px;
}

.iCarretDisabled{
    margin-left: 15px;
    visibility: hidden;
}

#resultados-url{
    display: none; /*Remove this div for mobile view?*/
}


.carousel-control.left{
    background: transparent!important;
     opacity: 1!important;
     color: #90caf9!important
}
.carousel-control.right{
    background: transparent!important;
     opacity: 1!important;
     color: #90caf9!important
}



.carousel-control.left:active{
    background: #efefef!important;
}

.carousel-control.right:active{
    background: #efefef!important;
}

.carousel-indicators{
    bottom: 6px!important;
}

.carousel-control{
  width: 10%!important;
}

.glyphicon-chevron-left{
    font-size: 25px;
    top: 45%!important;
}

.glyphicon-chevron-right{
    font-size: 25px;
    top: 45%!important;
}

.carousel-inner{
    width: 80%!important;
}

h5{
        margin-top: 5px!important;
}

.input-group-addon:active{
    background-color: #efefef!important;
}

input:focus:-webkit-input-placeholder { color:transparent; };
input:focus:-moz-placeholder { color:transparent; }

h5{
    margin: 0!important;
}

.show-day-version{
    display: inline-block;
}

.month-margins{
    padding-bottom: 15px!important;
    padding-top: 15px!important;
    border-bottom: 1px solid white;
    margin-top:0px;
    margin-bottom: 0px;
}

.month-left{
    padding-left: 30px!important;
}

.month-right{
    /*padding-right: 45px!important;*/
}

.input-start-year{
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    border: 1px solid #ccc;
    /*color: #a1a1a1;*/
    border-radius: 0px;
    border:none;
    width: 60px;
    font-size: 14px;
}

.fleft{
    float: left;
}

.label-start-year{
    float: left;
    margin-left: 15px;
    border: 0;
    width: 75px;
    font-size: 14px;    
}

.input-end-year{
    float: right;
    margin-right: 15px;
    margin-top: 10px;
    border: 1px solid #ccc;
    /*color: #a1a1a1;    */
    border-radius: 0px; 
    width: 60px;   
    font-size: 14px;
}
.label-end-year{
    width: 75px;    
    font-size: 14px;
}

.span-end-year{
    display: inline;
    float: right;
    margin-right: 15px;
}
.span-start-year{
    display: inline;
    margin-top: 5px;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

.titulo-advanced{
    margin-left:15px;
    margin-top: 20px;    
}

.main-form-advanced{
    /*margin-top: 30px;*/
}

.expandable-div{
    background-color: #42a5f5;
    /*margin-bottom: 3vh;*/
    color: grey;
}

.expandable-div legend:active{
    background-color: #2196f3;
}

.myButtonStyle:active{
    background-color: #dedede!important;
    color: #555;
    text-decoration: none;
}
.myButtonStyle:hover{
    color: #555;
    text-decoration: none;	
}

.myButtonStyle:focus{
    outline: none;
    color: #555;
    text-decoration: none;    
}

.myButtonStyle:visited{
    color: #555;
    text-decoration: none;    	
}


.expandable-div legend{
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    margin-bottom: 0px;
    font-size: 16px;
    cursor: pointer;
}

.box-content{
    background-color: #e3f2fd;
    padding-bottom: 15px;
    padding-left: 45px!important;
}

.no-padding-left{
    padding-left: 0px!important;
}

.label-padding-top{
    padding-top: 15px;
}

.box-content label{
    color: black;
    font-weight: normal;
    font-size: 13px;
}

.box-content input{
    color: initial;
    padding-left: 5px!important;
    font-size: 13px;
    border: 1px solid lightgray;
}

.date-advanced{
    width: 150px!important;
}

.number-results-advanced{
    width: 75px;
}

#btnSubmitBottom span{
    color: darkgrey;
    top: 2px!important;
}

.right-15{
    padding-right: 15px;
}

.select-style{
    display: block;
    /*width: 100%;*/
    height: inherit;
    /*border: inherit;*/
    padding: 3px 12px;
    /*border-radius: 0px!important;*/
    color: black;
    border-radius: 0px;
    background-color: #fff;
    font-size:13px;

}

.select-style:focus {
    outline: none;
}

.title-advanced{
    background: #2196f3;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-size: 20px!important;
}

.button-advanced{
    margin-top: 15px;
}

.text-bold{
    font-weight: bold;
}

.my-alert{
    border-radius: 0px!important;
}
.my-alert-images{
    border-radius: 0px!important;
    margin-top: 20px;
}


.suggestions-no-results li {
    margin-bottom: 5px;
}

em{
    font-weight: bold;
    font-style: normal
}

.calendar-anchor-advanced{
    margin-left: 18px;
    cursor: pointer;
}

.calendar-anchor-search{
    margin-left: 5px;
    cursor: pointer;
}

.noUi-tooltip{
    border: none!important;
    padding: 0!important;
    color: grey!important;
}

.glyphicon-chevron-right, .glyphicon-chevron-left{
    z-index: 3!important;
}
.search-button-span{
    padding: 0px!important;
    margin: 0;
    background: /*#42a5f5!important*/ none;
    cursor: pointer;
}
.search-span{
    padding: 0!important;
    margin: 0!important;
}

#slider-date{
    height: 6px!important;
    margin-top: /*15px*/20px;
    margin-bottom: 10px;
}

.text-bold{
    font-weight: bold;
}

.no-radius{
    border-radius: 0px!important;
}

.topcontainer{
    margin-top: 15px;
}

.no-padding-horizontal{
    padding-left: 0px; 
    padding-right: 0px;
}

#my-slider{
    margin-right: 5px;
    margin-left: 5px;
}

.no-padding-left{
    padding-left: 0px!important;
}

.padding-left-5{
    padding-left: 5px;
}

#divLoading{
    display: none;
}

#years h4{
    font-size: 16px!important;
}
.list-versions-div{
    cursor: pointer;
    padding-top: 4px;
}
.list-versions-div:active{
    background: #efefef;
}

.urlBlock{
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;    
    padding-top: 14px;
    cursor: pointer;
}

.urlBlock:active{
    background: #efefef;
}

.summary{
    padding-left: 15px;
    padding-right: 15px;
}

.border-bottom{
    border-bottom: 1px solid lightgrey;
    margin-top: 5px;    
}

.break-word{
    word-wrap: break-word;
}

.search-input:active, .search-input:focus {
    border: 1px solid #42a5f5!important;
}


.search-button-span:hover, .search-button-span:active{
    /*#2196f3*/
    background: none /*#2196f3!important*/;
}

.search-button{
    /*height: 38px;*/
    padding: 0px /*12px*/0 0px 09px!important;
    background-color: none !important; 
    outline:1px solid red;
    padding:0 !important;
    margin:0 !important;   
}
/* starts NEW STYLING FOR SEARCH BUTTON */
span#buttonSearch {    
    background-color: transparent !important;
    font-size: 26px !important;
    border:1px solid transparent;
    border-radius: 60px;    
}

span#buttonSearch button span{    
    color: /*#777*/#007AFF;
    background-color: transparent !important;
    font-size: 22px !important;
    transition:color 0.5s ease 0s;   
    font-weight: normal !important;
}

span#buttonSearch button:hover span{    
    color: #000 /*#007AFF*/;    
}
/* ends NEW STYLING FOR SEARCH BUTTON */

.input-start-year:focus, .input-end-year:focus{
    /*#2196f3*/
    outline: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);    
    border: 1px solid #42a5f5!important;
}

input:active, input:focus{
        outline: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);    
    border: 1px solid #42a5f5!important;
}


.white{
    color:black;
}

.display-none{
    display: none;
}

.mime{
    font-size: 10px;
}

.select-sort-type{
	width: 83.33333333%!important;
}

#conteudo-pesquisa-erro{
	margin-left:15px;
	margin-right: 15px;
}

.spell{
    padding-left: 15px;
    padding-bottom: 10px;
}

#years{
    /*margin-top: 30px;*/
	padding-bottom: 40px;
}

.clear-text{
    position: absolute;
    font-size: 38px;
    color:/*#777*/red;   
    right: /*41px*/56px !important;
    z-index: 3;
    height: 38px !important;
    /*padding: /*5px*//*13px 8px 37px 8px*//*13px;*/
    -webkit-text-stroke:7px white;
    cursor: pointer;
    display: none;
    padding: 5px 0;
}

.clear-text:active, .clear-text:hover{
    color: /*#555*//*#000*/ /*#007AFF*/red;
}

.prizes{
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
    word-wrap: break-word;
}

.image-container{
    background-color: #D8DBDF;
    margin-top: 30px;
}

#photos {
   /* Prevent vertical gaps */
   line-height: 0;
   -webkit-column-count: 8;
   -webkit-column-gap:   0px;
   -moz-column-count:    8;
   -moz-column-gap:      0px;
   column-count:         8;
   column-gap:           0px;
   padding-top: 20px;
   min-height: calc(100vh - 200px);
}

#photos img {
  /* Just in case there are inline attributes */
  max-width: 100%;
  min-width: 100%; 
  height: auto !important;
  /*margin: 20px 50px 20px 50px;*/
}

@media (max-width: 2400px) {
  #photos {
  -moz-column-count:    7;
  -webkit-column-count: 7;
  column-count:         7;
  }
}

@media (max-width: 2000px) {
  #photos {
  -moz-column-count:    6;
  -webkit-column-count: 6;
  column-count:         6;
  }
}
@media (max-width: 1600px) {
  #photos {
  -moz-column-count:    5;
  -webkit-column-count: 5;
  column-count:         5;
  }
}
@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 650px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 200px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.image-display-url{
    padding-top: 0.8em;
    font-size:1.2em!important;
    line-height: 0.5;
    padding-bottom: 0.2em;     
    text-align: left;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;        
    /*margin-left: 50px;*/
}

.image-display-date{
    font-weight:normal; 
    font-size:1em!important; 
    text-align: left; 
    /*padding-left:50px;*/
    padding-right:5px;
    margin-bottom: 0px!important;
    width: 95%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.imageContent{
    background: rgba(255, 255, 255, 0.4) /* Black background with 40% opacity */;
    border: 1px solid lightgray;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: calc(2% + 5px);
    cursor: pointer;
}

.imageContent:last-child{
    margin-bottom: 0px;
}

.image-mobile-expanded-div{  
    display:none; 
    width: 100%;
    top: 40px;
    left: 0;
    position: absolute;
    margin-top: 8px;
    box-sizing: content-box;
    overflow: hidden;
    z-index: 999999;
    background-color: rgba(0,0,0,0.7); 
    overflow: hidden;
}

.image-viewer-expanded-main-actions{
   /*padding-left: 20px;
    padding-right:  20px;*/
}
.visit-page-icon{
    padding-top: 10px;
}

.middle{
    vertical-align: middle;
}

.image-expanded-viewer{
    padding-bottom: 0px!important;
    max-height: 50vh!important;
    margin: auto;
    margin-bottom: 10px;
    width: auto!important;
    min-width: initial!important;
    max-width: calc( 100% - 40px);   
}

ion-button{
    text-transform: none!important;
}

.border-mobile{
    background: transparent;
}

.border-mobile:active  {
    background-color: #E8EAEC;
}

.full-height{
    height: 100%;
}
.height-vh{
    height: calc(100vh - 40px)!important;
}

.card-height{
   background-color: white;
   max-height: calc(100vh - 70px);
   /*margin: 10px;*/
   z-index:2;
   overflow-y: auto!important;
   outline: none;   
}

.visit-page{
    --padding-start: 1em;
    margin-left: -1em;
}

.view-details{
    --padding-end: 1em;
    margin-right:  -1em;
}

.image-mobile-expanded-div ion-list ion-item{
    --min-height: 20px;
}

.image-mobile-expanded-div ion-card ion-row{
    margin-left: 20px;
    margin-right: 20px;
}

.image-mobile-expanded-div ion-card-content{
    padding-top: 0px;
}

.image-mobile-expanded-div ion-list{
    padding-top: 0px;
    padding-bottom: 0px;
}

.image-mobile-expanded-div ion-list ion-item:first-of-type{
    border-top: 1px solid lightgray;
    padding-top: 5px;
}
.image-mobile-expanded-div ion-list ion-item:last-of-type{
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
}
.image-mobile-expanded-div ion-list ion-item{
    word-wrap: break-word;
}

.image-mobile-expanded-viewer-mask{
    height:100vh;min-width: 100%;background-color:transparent;position: absolute;top: 0;left:0;z-index:1;
}


.closeIt{
    margin-right: 10px;
    margin-top: 10px;
    color: white; 
    background: rgba(0,0,0,0.5);
    border-radius: 25px;    
}
  .closeItAbsolute
  {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white; 
    background: rgba(0,0,0,0.5);
    border-radius: 25px;   
  }


@media (max-width: 500px) {
  .image-expanded-full-width.image-expanded-viewer
  {
    width: 100%!important;
    padding-bottom: 0px!important;
    max-height: initial;
    margin-bottom: 10px;
    max-width: 100%;
  }
  .closeCard
  {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white; 
    background: rgba(0,0,0,0.5);
    border-radius: 25px;   
  }
}

h1,h2,h3,h4,h5{
    font-family: "Open Sans", sans-serif!important;
}

.clean-button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: inherit;
    width: 100%;
}
.clean-button-no-fill{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: inherit;
}

.anchor-color{
    color: #337ab7;
}

.alertCopy {
    position: absolute;
    display:  hidden;
    top: 0px;
    z-index: 4;
    width: 100%;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    text-align: center
}

.next-previous-ul{
    margin-top: 30px;
    margin-bottom: 30px;
}

#previousImage{
    display: none;
}


#nextImage{
    display: none;
}

#loadingDiv{
    text-align: center; 
    margin-top: 10%; 
    margin-bottom: 5%;
}


#loadingDivImages{
    text-align: center; 
    margin-top: 10%; 
    margin-bottom: 5%;
    background-color: #D8DBDF;
}

.tabs-services{
    text-align: left;
    /*padding-left: 5px;*/
    margin:20px 0 0px 0;
    display: block;
    float: none !important;
    /*border-bottom: 1px solid #ccc;*/
    padding-bottom:4px;
}

a.advancedSearch {
    float: left;   
    text-decoration: none;
    margin:0 8px 0 0 !important;
    padding: 5px 13px;
    /*border:1px solid #ebebeb;*/
    border-radius: 50px;     
    font-size:1em;    
    transition: background-color 0.5s ease 0s;
    background-color:transparent;
    color:#007AFF;
    border: 1px solid #007AFF; 
    transition: background-color 0.5s ease 0s;  
}
a.advancedSearch:hover {    
    /*background-color: #fbfbfb;*/   
    background-color: #007AFF;
    color:white;
    border: 1px solid white; 
    text-decoration: none;
}

#searchBarButtonsDiv {
    width: 100%;
    margin: 0px auto 0 auto;
    padding:0;
    height:auto;
    display: block;
    height:50px;
    text-align: center;
    float: left;
}

/* New style for Advanced Search */
a#BotaoPesquisaAvancada {
    float: right !important;
    background-color: /*#007AFF*/white;
    margin-right: none !important;
    color:black /*#007AFF/* white*/;
    cursor: pointer;  
    margin-right: 0 !important;
    border:1px solid #ccc;
}

a#BotaoPesquisaAvancada:hover {
    background-color: #007AFF;
    margin-right: none !important;
    color: white;
    cursor: pointer;  
    text-decoration: none;
    border:1px solid transparent;
}

a#BotaoPaginas {
    background-color:#007AFF;
    color:white;
    border: 1px solid #007AFF; 
    transition: background-color 0.5s ease 0s;  
}

a#BotaoPaginas:hover {
    background-color: #007AFF;
    color:white;
    border: 1px solid transparent;    
}


a#BotaoImagens {
    background-color:white;
    color:black;
    border: 1px solid #ccc;
    transition: background-color 0.5s ease 0s;  
}

a#BotaoImagens:hover {
    background-color: #007AFF;
    color:white;
    border: 1px solid white;    
}


.tabs-services a,  .tabs-services a:hover, .tabs-services a:active{
    font-size: 1em;
    margin-right: 1em;
    text-decoration: none!important;   
}

.tabs-services .selected{
    font-weight: bold;
    pointer-events: none;
   /* padding-bottom: 2px;
    border-bottom: 2px solid #337ab7;*/
}



.primary-underline{
  position: relative;
  display: inline-block;
  z-index:0;
}
.primary-underline:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 0;
  border: 1px solid #42a5f5;
  border-radius : 10px;
}


.div-underline{
  z-index:0;
}
.div-underline:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 15px;
  right: 15px;
  top: 23px;
  height: 0;
  /*border: 1px solid lightgray;*/
  border-radius : 10px;
}

#imagesDefaultTextDiv{
    padding-top: 20px;
}

.image-options{
    padding-top: 3px;
    margin-top: 3px;
    text-align: left;
    border-top: 2px solid lightgray;
    font-family: "Open Sans", sans-serif;
}

.image-options ion-toggle {
  float: right;
  right: 0;
  position: absolute;
  zoom: 0.85;
}

.image-options ion-label{
    font-size: 8px;
}

.image-options ion-col{
    padding-top: 0px;
    padding-bottom: 0px;
}
.image-options ion-grid{
    padding-top: 0px;
    padding-bottom: 0px;
}

.image-options ion-item{
    min-height: 20px;
    --min-height: 20px;
    font-size: 1.2em;
}

.image-options ion-grid{
}

.image-options ion-col div{
    border-bottom: 1px solid #ddd;
}

@media (max-width: 575px) {
    .image-options > ion-grid > ion-row > ion-col:nth-child(3) div{
        border-bottom: none;
    }

}


.close-modal{
    right: 15px;
    top: 15px;
    font-size: 2em;
    position: absolute;
}

ion-list > ion-item > h5{
    max-width: 100%;
}

.no-outline{
    outline: none;
}

.videoWrapper {
    width: 75%;
    margin-left: 12.5%;
    margin-top: 20px;
    margin-bottom: 35px;
    position: relative;
    padding-bottom: 47.0%;
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (min-width: 1024px){
    .videoWrapper {
        width: 42%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        position: relative;
        padding-bottom: 23%;
        padding-top: 25px;
        height: 0;
    }
}


.homeLinkWrapper {
    width: 75%;
    margin-left: 12.5%;
    margin-top: 20px;
    position: relative;
    height: 75px
    padding-top: 1px;
}
.homeLinkWrapper h1{
    font-size: 2.1em;
    margin-top: 7px;
}

@media (min-width: 1024px){
    .homeLinkWrapper {
    width: 42%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
    padding-top: 1px;
    }
    .homeLinkWrapper h1{
        margin-top: 11px;
        font-size: 2.5em;
    }
}

.homeLinkWrapper a, .homeLinkWrapper a:visited, .homeLinkWrapper a:active, .homeLinkWrapper a:hover { 
    color: white; 
    text-decoration: none!important;
    cursor: pointer
}


.homeLinkWrapper:last-of-type{
    margin-bottom: 35px;
}

.border-home{
    border: 1px solid lightgray;
}

.lightgreen{
    background-color: lightgreen;
}

.lightgoldenrodyellow{
    background-color: lightgoldenrodyellow;
}

.lightseagreen{
    background-color: lightseagreen;
}
.lightblue{
    background-color: lightblue;
}

.home-icon{
    font-size: 8em!important;
}

.top-home-label{
    margin-top: 10px;
}
.top-home-exhibitions-label{
    margin-top: 0px;
}

.home-anchor, .home-anchor:active, .home-anchor:visited, .home-anchor:hover{
    text-decoration: none;
}

.last-label{
    margin-bottom: 40px;
}




#resultsTable {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th.thTV, td.tdTV {
  text-align: center!important;
  padding: 4px!important;
  min-width: 70px;
  border-right: 1px solid lightgray;
}

tr.trTV:nth-child(even){background-color: #f2f2f2}

#layoutTV{
    text-align: center;
    margin-top: 30px;
}
#layoutTV h4{
    display: inline;
    padding-right: 15px;
}

#dateStart.nooutline, #dateEnd.nooutline {
    box-shadow: none;
    border: none!important;
    cursor: pointer;
}

.noUi-value {
    display: none;
}

.noUi-marker-large{
    display: none;
}

.noUi-pips-horizontal{
    height: initial!important;
}