#topo,
#linguas,
#cabecalho,
#menu,
#interior-col-esq,
#breadcrumbs,
.menu-funcoes,
#copyright-submenu,
#rodape{
	display:none;
}

.print_content{
	display:block;
}
#print_content_topo{
	overflow:hidden;
	border-bottom:2px solid #834AB5;
	padding-bottom:5px;
	margin-bottom:20px;
}

#print_content_topo img,
#print_content_topo a{
	float:left;
}

#print_content_topo a{
	margin:20px 0px 0px 20px;
}

#print_content_rodape{font-size:11px;}
