@charset "utf-8";
/* CSS Document */


body{
    background-color:#e6e4df;
    /*background-image:url(/temas/fccn/images/bg-topo.png);
	background-position:left top;
	background-repeat:repeat-x;	*/
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
}

#wrapper{
    width:990px;
    margin:0 auto;
}

p{
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    color:#000000;
    margin-bottom:15px;
}

div{
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    color:#000000;
    line-height:16px;
}

ol{
    list-style-type:decimal!important;
    list-style-position:outside!important;
    margin-left:20px;
    margin-bottom:20px;

}


ol li span{
    color:#000000;
    font-size:13px;
    line-height:15px;
}


a{
    color:#336699;
    text-decoration:underline;
}

a:hover{
    color:#834ab5;
    text-decoration:underline;
}

.clear{clear:both;}

.erro{
    background-color:#FF9999;
    border:1px solid #FF6666;
    margin:10px 0px 5px 0px;
    padding:15px 20px 20px 15px;
    min-height:30px;
    color:#FFF;
}

h3{
    margin-bottom:15px;
}

.erro ul{margin:0;padding:0;margin-left:10px;}

.pink_button{
    overflow:hidden;
    float:right;
}

.pink_button *{cursor:pointer;}

.pink_button input{
    background:url(/temas/fccn/images/pink_button_middle.png) repeat-x top left;
    height:22px;
    color:#FFF;
    border:none;
    float:left;
}

.pink_button a,
.pink_button span
{
    background:url(/temas/fccn/images/pink_button_middle.png) repeat-x top left;
    line-height:22px;
    color:#FFF !important;
    font-weight:bold !important;
    border:none;
    float:left;
    text-decoration:none;
}

.pink_button .left{
    float:left;
    background:url(/temas/fccn/images/pink_button_left.png) no-repeat top left;
    width:5px;
    height:22px;
}

.pink_button .right{
    background:url(/temas/fccn/images/pink_button_right.png) no-repeat top left;
    width:5px;
    height:22px;
    float:left;
}

.bloco{
    clear:both;
    overflow:hidden;
}

.loading_ajax{text-align:center;margin:10px;}

a img{border:none;}
/* +++++++++++++++++++++++ INICIO: TOPO ++++++++++++++++++++++++++*/

#topo{
    overflow:hidden;
    background-color:#F3F0F9;
    border-bottom:1px solid #DADADA;
}

#topo2{
    width:990px;
    height:38px;
    margin:0 auto;
    overflow:hidden;
}

#outrossites{
    width:260px;
    overflow:hidden;
    float:left;
}

#outrossites img{float:left;}

#logotopo{
    width:74px;
    height:27px;
    border:none;
}

#outrossites select{
    float:left;
    width:185px;
    height:21px;
    margin-top:8px;
}

#user{
    float:right;
    overflow:hidden;
    margin-right:40px;
}

#user span{float:left;margin-top:10px;}
#user img{float:right;margin-right:5px;}

#user #login_button{
    overflow:hidden;
}

#user #login_button .pink_button span{margin-top:0px;}

#user .nome{
    color:#333333;
    font-size:11px;
    float:right;
    margin-right:5px;
    margin-top:12px;
}
#user .entidade{
    color:#777777;
    margin-right:5px;
    float:right;
}
#user .logout{
    float:right;
}
#user .logout a{
    color:#834ab5;
}

#user #login_button #need_help{
    float:right;
    width:120px;
    font-size:11px;
    margin-left:5px;
    margin-top:2px;
}

#user #login_button .nome{width:80px;margin-top:2px;}

#pesquisa{
    float: right;
    margin-right: 20px;
    overflow: hidden;
}

#pesquisa input[type=text]{
    float:left;
    width:178px;
    height:15px;
    margin-top:8px;
    margin-right:8px;
}

#pesquisa input[type=submit]{
    background:transparent url(/temas/fccn/images/btn-pesquisar.png) no-repeat top left;
    float:right;
    margin-top:8px;
    width:66px;
    height:21px;
    border:none;
}

input[type=text],input[type=password],select,textarea{
    border:1px solid #DBDBDB;
    background-color:#FFF;
    padding:2px 3px;
}
/* +++++++++++++++++++++++ FIM: TOPO ++++++++++++++++++++++++++*/

/* +++++++++++++++++++++++ INICIO: BREADCRUMBS ++++++++++++++++++++++++++*/
#breadcrumbs{
    font-size:11px;
    color:#777777;
    overflow:hidden;
    margin-bottom:25px;
}

#links_breadcrumbs{
    overflow:hidden;
}

#breadcrumbs .localizacao a,
#breadcrumbs .localizacao span{
    margin-right:6px;
    margin-left:6px;
}

#breadcrumbs a{
    color:#333333;
    text-decoration:underline;
}

/**** LINGUAS ********/
#linguas{
    background-color:#FFF;
    overflow:hidden;
    padding:12px 20px 5px 20px;
}

#linguas .flag{
    text-transform:uppercase;
    font-size:11px;
}

ul#ul_linguas{
    float: right;
    margin-right: 18px;
    margin-top: 10px;
    overflow: hidden;
    text-transform: uppercase;
}

ul#ul_linguas li{
    display:block;
    float:left;
    margin-right:5px;
}

#linguas .redessociais{
    float:right;
    width:46px;
}

#linguas .redessociais img{
    margin-left:5px;
}

#linguas .extra_links{
    float:right;
    margin-right:15px;
}

/* +++++++++++++++++++++++ FIM: BREADCRUMBS ++++++++++++++++++++++++++*/


/* +++++++++++++++++++++++ INICIO: CABEÇALHO ++++++++++++++++++++++++++*/
#cabecalho{
    height:125px;
    padding-left:21px;
    overflow:hidden;
    background-color:#FFFFFF;
    position:relative;
}

#cabecalho a{
    height: 90px;
    left: 40px;
    position: absolute;
    top: 40px;
    width: 280px;
    text-decoration:none;
    z-index:10000;
}


/* +++++++++++++++++++++++ FIM: CABEÇALHO ++++++++++++++++++++++++++*/

/* +++++++++++++++++++++++ INICIO: MENU PRINCIPAL ++++++++++++++++++++++++++*/
#menu{
    height:38px;
    background:url(/temas/fccn/images/bg-barra-menu.png) no-repeat 0% 0%;
    font-weight:bold;
    color:#FFFFFF;
    overflow:hidden;
}

#menu ul{
    margin-left:21px;
}

#menu ul li{
    float:left;
    overflow:hidden;
    background:url(/temas/fccn/images/separador-menu.png) no-repeat 0px 10px;
}

#menu li a{
    color:#FFFFFF;
    text-decoration:none;
    float:left;
    padding:0px 40px;
    line-height:38px;
}

#menu li:first-child{background:none;}

#menu li a:hover, #menu li .activo{background:url(/temas/fccn/images/bg-menu-hover.png) repeat-x 0px 0px !important;}



/* +++++++++++++++++++++++ FIM: MENU PRINCIPAL ++++++++++++++++++++++++++*/




/* +++++++++++++++++++++++ INICIO: CONTENT ++++++++++++++++++++++++++*/

#content{
    background-color:#FFFFFF;
    padding:20px;
    overflow:hidden;
}

#content_topo{
    overflow:hidden;
}

#content h1{
    font-size:18px;
    font-weight:bold;
    color:#834ab5;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#e6e4df;
    padding-bottom:11px;
    padding-left:7px;
    margin-bottom:16px;
    overflow:hidden;
}

#content h1.nopadding{
    padding-left: 0px !important;
}

#content #em-destaque h1,
#content #em-destaque h1 a,
#content #em-destaque h3,
#content #em-destaque h3 a{
    font-size:18px;
    font-weight:bold;
    color:#333333;
    line-height:23px;
    margin-bottom:12px;
    text-decoration:none;
    border:none;
    padding:0px;
}

#content #em-destaque h1 a:hover,
#content #em-destaque h3 a:hover
{color:#834ab5;text-decoration:none;}

#content h1.h1-servicos{
    clear:both;
    font-size:18px;
    font-weight:bold;
    color:#834ab5;
    padding-top:27px;
    padding-left:0px !important;
    padding-bottom:18px;
    margin:0px;
    border:none;
}

h2,h2 a{
    font-size:18px;
    font-weight:bold;
    color:#333333;
    line-height:23px;
    margin-bottom:12px;
    text-decoration:none;
}

h2 a:hover{color:#834ab5;text-decoration:none;}
/***** DESTAQUES HOMEPAGE (START) ***********/
#em-destaque{
    overflow:hidden;
    position:relative;
}

#destaque_grande{
    overflow:hidden;
    padding-right:10px;
    border-right:1px solid #DDDDDD;
    width:670px !important;
    height:260px !important;
    position:relative;
    float:left;
}

#destaque_grande ul{margin:0px;padding:0px;}
#destaque_grande ul li{margin:0px;padding:0px;height:260px !important;}

#destaque_grande .paginacao{
    position:absolute;
    bottom:10px;
    right:10px;
    z-index:9999;
}

#destaque_grande .paginacao span{
    cursor:pointer;
    border:1px solid #DDDDDD;
    padding:2px 5px;
    background-color:#FFF;
    margin-left:3px;
    float:left;
}

#destaque_grande .paginacao span.activeSlide{
    background-color:#834AB5;
    color:#FFF;
}

.video-home{
    float:left;
    overflow:hidden;
    margin-right:19px;
}

.destaque-local-data{
    font-size:13px;
    color:#333333;
    margin-bottom:6px;
}
.destaque-local-data a{
    color:#333333;
    text-decoration:none;
}
.destaque-local-data a:hover{
    color:#834ab5;
    text-decoration:underline;
}


.destaque-resumo{
    font-size:13px;
    color:#777777;
    line-height:16px;
    margin-bottom:5px;
}

.btn-destaques{
    clear:both;
    float:left;
}
.btn-destaques-nomargin{
    float:left;
}
.btn-destaques a, .btn-destaques-nomargin a{
    color:#333333 !important;
    text-decoration:underline !important;
    font-size:11px !important;
}
.btn-destaques a:after, .btn-destaques-nomargin a:after{
    content: url(/temas/fccn/images/seta-link.png);
}

.btn-destaques a:hover, .btn-destaques-nomargin a:hover{
    color:#834ab5;
    text-decoration:underline;
}

#em-destaque #agenda-comunicados{
    padding-left:26px;
    overflow:hidden;
}

.destaques-tipo-comunicado{
    margin-bottom:19px;
}

.destaques-tipo-agenda{
    margin-bottom:19px;
    overflow:hidden;
}

.destaques-tipo-agenda .caixa-data{
    float:left;
    width:38px;
    margin-right:14px;

}
.destaques-tipo-agenda .caixa-data-dia{
    float:left;
    width:36px;
    background-color:#FFFFFF;
    border-style:solid;
    border-width:1px;
    border-color:#834ab5;
    font-size:16px;
    font-weight:bold;
    color:#777777;
    padding-top:4px;
    padding-bottom:5px;
    text-align:center;
}

.caixa-data-dia a{
    color:#777777;
    text-decoration:none;
}
.caixa-data-dia a:hover{
    color:#834ab5;
    text-decoration:none;
}


.destaques-tipo-agenda .caixa-data-mes{
    float:left;
    width:36px;
    background-color:#834ab5;
    border-style:solid;
    border-width:1px;
    border-color:#834ab5;
    font-size:13px;
    font-weight:bold;
    color:#ffffff;
    padding-top:2px;
    padding-bottom:5px;
    text-align:center;
}

.destaques-tipo-agenda .agenda-coluna-texto{
    overflow:hidden;
}

#destaques-caixa-arquivos{
    background-color:#f4f0f9;
    text-align:center;
    overflow:hidden;
    overflow:hidden;
    width:503px;
    position:absolute;
    right:0px;
    bottom:0px;
}


#destaques-caixa-arquivos ul{
    margin-left:20px;
}

#destaques-caixa-arquivos a{
    float:left;
    display:block;
    padding-top:11px;
    padding-bottom:10px;
    margin:10px;
    font-size:13px;
    font-weight:normal;
    color:#333333;
    text-decoration:underline;
}

#destaques-caixa-arquivos a:hover{
    color:#834ab5;
}
/***** DESTAQUES HOMEPAGE (END) ***********/


/* ** INICIO: SERVIÇOS HOME ** */

#scroller-servicos{
    background-color:#F4F0F9;
    overflow:hidden;
    position:relative;
    height:120px;
    margin-top:20px;
}

#scroller-servicos .seta-left-scroller{
    width:21px;
    cursor:pointer;
    position:absolute;
    top:0px;
    left:0px;
}
#scroller-servicos .seta-right-scroller{
    width:21px;
    cursor:pointer;
    position:absolute;
    top:0px;
    right:0px;
}

.servico-home{
    margin:8px;
    overflow:hidden;
}

.servico-home .foto{
    float:left;
    margin:3px;
}

.servico-home img{
    float:left;
    margin:3px;
}

.servico-home-top,
.servico-home-top a
{
    color:#000000;
    text-decoration:none;
    font-size:14px;
    font-weight:bold;
    padding:11px 0px 0px 4px;

}

.servico-home-top a:hover{color:#834ab5;text-decoration:none;}


.servico-home-middle{
    padding-left:4px;
    font-size:11px;
    color:#777777;
    line-height:14px;
}
.servico-home-bottom{
    padding-left:4px;
    padding-top:5px;
}
.servico-home-bottom a,
.link-style{
    color:#333333;
    text-decoration:underline;
    font-size:11px;
}

.link-style{
    background-color:none;
    border:none;
    padding:0px;
    margin:0px;
    background-image: url(/temas/fccn/images/seta-link.png);
    background-position: 100% 50% ;
    background-repeat: no-repeat;
	text-align:left;
}

.like-link{
    color: #834AB5;
    font-size: 13px;
}

.width-auto{
    width:auto !important;
    position:relative;
}

.caption-bottom{
    caption-side:bottom;
    margin-top:10px
}

.table-format{
    border-collapse:collapse;
    padding:0px;
    margin:0px;
    border:none;
    width:100%;
    border:1px solid #DBDBDB;
}

.table-format td,
.table-format th{
    padding:5px;
}

.table-format th{
    background-color: #834AB5;
    color: #FFFFFF;
}

.table-format .to-center{
    text-align:center;
}

.pesquisa-dominio{    
    float:right;
    overflow:hidden;
}

.pesquisa-dominio input{
    margin-left:15px;
}

.go-left{
    float:left
}

.table-format td{
    background-color: #FFFFFF;
    vertical-align:middle;
}

.servico-home-bottom a:hover,
.link-style:hover{
    color:#834ab5;
    text-decoration:underline;
    cursor:pointer;
}


.servico-home-bottom a:after
{
    content: url(/temas/fccn/images/seta-link.png);
}

.servico-home-bottom ul{overflow:hidden;}
.servico-home-bottom ul li{float:left;margin-right:3px;}

.servicos-rss{
    padding-top:14px;
    float:left;
    width:20%;
    text-align:left;
    background-image:url(/temas/fccn/images/icon-rss.png);
    background-position:right bottom;
    background-repeat:no-repeat;

}

.servicos-rss a{
    font-size:11px;
    text-decoration:none;
    color:#999999;
}
.servicos-rss a:hover{
    text-decoration:underline;
    color:#834ab5;
}


.servico1{
    border-top-color:#834ab5;
    border-top-style:solid;
    border-top-width:3px;
}
.servico2{
    border-top-color:#009b7b;
    border-top-style:solid;
    border-top-width:3px;
}
.servico3{
    border-top-color:#72cac8;
    border-top-style:solid;
    border-top-width:3px;
}
.servico4{
    border-top-color:#f4aa00;
    border-top-style:solid;
    border-top-width:3px;
}


#scroller-servicos input[type=text]{
    width:90%;
    height:17px;
    border-style:solid;
    border-width:1px;
    border-color:#eae0f3;

    font-size:11px;
    color:#777777;
    padding-top:4px;
    padding-left:4px;
    text-align:left;
    margin-bottom:4px;
}


/* ** FIM: SERVIÇOS HOME ** */



#outros-servicos{
    margin-top:40px;
    overflow:hidden;
}

.coluna-outrosservicos{
    float:left;
    width:296px;
    margin-left:30px;
}

.margem-0{
    margin:0;
}

.coluna-outrosservicos h2{
    height:50px;
    margin:0px;
}

.coluna-outrosservicos .foto{margin-bottom:12px;}

.coluna-outrosservicos li{
    /*list-style-image:url(/temas/fccn/images/seta-lista.png);*/
    list-style-position:outside;
    /*margin-left:15px;*/
    margin-bottom:20px;
}

.coluna-outrosservicos li a{
    font-size:11px;
    text-decoration:underline;
    color:#333333;
    line-height:14px;

}

.coluna-outrosservicos li a:hover{
    text-decoration:underline;
    color:#834ab5;
}



#copyright-submenu{
    padding:10px 20px;
    background-image:url(/temas/fccn/images/bg-topocopyright.png);
    background-position:top center;
    background-repeat:no-repeat;
    background-color:#FFFFFF;
    overflow:hidden;
}
#copyright-submenu img{
    float:left;

}

#copyright{
    float:left;
    width:340px;
    padding-top:25px;
    color:#777777;
}
#copyright span{
    color:#834ab5;
}

.logoSeara{
    float:right;
    padding-top:5px;
    margin-right:20px;
}

#submenu-bottom{
    float:right;
    overflow:hidden;
    padding-top:25px;
}
#submenu-bottom li{
    display:inline;
}

#submenu-bottom li a{
    float:left;
    color:#777777;
    text-decoration:underline;
    margin-left:30px;

}

#submenu-bottom li a:hover{
    text-decoration:underline;
    color:#834ab5;
}

/* +++++++++++++++++++++++ FIM: CONTENT ++++++++++++++++++++++++++*/





/* +++++++++++++++++++++++ INICIO: RODAPE ++++++++++++++++++++++++++*/

#rodape{
    /*background-image:url(/temas/fccn/images/bg-rodape.png);
	background-position:top center;
	background-repeat:no-repeat;*/
    height:60px;
    position:relative;
}

#rodape #umic_img{
    position:absolute;
    bottom:10px;
    left:40px;
}

/* +++++++++++++++++++++++ FIM: RODAPE ++++++++++++++++++++++++++*/


/* +++++++++++++++++++++++ INICIO: PAGINA SERVICOS ++++++++++++++++++++++++++*/

h1.titulo-seccao{
    font-size:16px;
    font-weight:bold;
    color:#834ab5;
    margin-bottom:17px;
    border:none!important;
    padding-left:0!important;
}


#interior-col-esq{
    float:left;
    width:185px;
    margin-right:17px;
}

#interior-col-dir-small{
    float:right;
    margin-left:17px;
    width:191px;
    overflow:hidden;
}

#interior-col-dir-small .foto{
    margin-bottom:10px;
}

#interior-col-dir-small a:hover{
    color:#834ab5;
    text-decoration:underline;
}

#interior-col-content-big{
    /*float:right;
	width:747px;*/
    margin-bottom:20px;
    overflow:hidden;
}

.direita_centro,.direita_topo{overflow:hidden;}
.direita_topo .h2-coluna-centro{float:left;}
.direita_topo{margin-bottom:10px;}

ul.menu-esquerda{
    overflow:hidden;
    list-style:none;
}

ul.menu-esquerda li a{
    display:block;
    padding:9px 5px 7px 5px;
    border-bottom:1px solid #dbdbdb;
    color:#333333;
    text-decoration:none;

}

ul.menu-esquerda li:first-child a{
    border-top:1px solid #dbdbdb;
}


ul.menu-esquerda li a:hover{
    background-color:#834ab5;
    color:#FFFFFF;
}

ul.menu-esquerda li a.submenu-activo{
    background-color:#834ab5;
    color:#FFFFFF;
}



ul.menu-esquerda ul{
    overflow:hidden;
    background-color:#f5f5f3;
    padding-bottom:5px;
}

ul.menu-esquerda ul li{
    padding-left:7px;
}

ul.menu-esquerda ul li a{
    display:block;
    font-size:11px;
    color:#000000;
    text-decoration:none;
    border:none!important;
}

ul.menu-esquerda ul li a:hover,
ul.menu-esquerda ul li a.submenu-activo{
    text-decoration:underline;
    color:#834ab5;
    border:none!important;
    background:none!important;
}

/* *** inicio: coluna direita *** */

.menu-funcoes{
    border-bottom:1px solid #000000;
    padding-bottom:9px;
    padding-left:1px;
    overflow:hidden;
    float:right;
}

.menu-funcoes a{
    font-size:11px;
    margin-right:3px;
    color:#336699;
    cursor:pointer;
    text-decoration:none;
}
.menu-funcoes img{margin-right:5px;}


/*
.menu-funcoes a{
	float:left;
	color:#336699;
	text-decoration:underline;
	height:14px;
	font-size:11px;
	text-align:left;
	padding-top:5px;
	margin-right:3px;
}

.menu-funcoes .at300bs{margin-right:3px;}

.link-imprimir{
	background-image:url(/temas/fccn/images/icon-imprimir.png);
	background-position:left;
	background-repeat:no-repeat;
	padding-left:20px;
}
.link-partilhar{
	background-image:url(/temas/fccn/images/icon-partilhar.png);
	background-position:left;
	background-repeat:no-repeat;
	padding-left:16px;
}
.link-guardar{
	background-image:url(/temas/fccn/images/icon-guardar.png);
	background-position:left;
	background-repeat:no-repeat;
	padding-left:16px;
}
*/
h2.h2-coluna-dir{
    font-size:17px;
    font-weight:bold;
    color:#000000;
    line-height:18px;
    padding-bottom:0;
}

h3.h3-coluna-dir{
    font-size:13px;
    font-weight:bold;
    color:#333333;
    line-height:15px;
    border-top:1px solid #ddd;
    padding-top:12px;
    margin-bottom:10px;
}

h3.h3-coluna-dir a{color:#333333;text-decoration:none;}

.servicos-col-dir{margin-bottom:15px;}

ul.servicos-col-dir li a{
    font-size:11px;
    display:block;
    color:#336699;
    text-decoration:underline;
    background-image:url(/temas/fccn/images/icon-seta-lista.png);
    background-position:0px 3px;
    background-repeat:no-repeat;
    padding-left:15px;
    margin-bottom:3px;
    line-height:14px;
}


/* *** fim: coluna direita *** */


/* *** INICIO: COLUNA CENTRO *** */

h1.h2-coluna-centro{
    font-size:20px !important;
    font-weight:bold !important;
    color:#333333 !important;
    margin-top:0 !important;
    padding-bottom:0 !important;
    padding-left: 0px !important;
    border: none !important;
    line-height: 23px;
    margin-bottom: 12px !important;

}

h2.h2-coluna-centro{
    font-size:20px ;
    font-weight:bold;
    color:#333333;
    margin-top:0;
    padding-bottom:0;


}

.h3-coluna-centro{
    clear:both;
    font-size:16px;
    font-weight:normal;
    color:#834ab5;
    line-height:21px;
    margin-bottom:10px;
}

h4.h4-coluna-centro{
    font-size:18px;
    font-weight:bold;
    color:#333333;
    line-height:21px;
    padding-top:12px;
    margin-bottom:10px;
    margin-top:15px;
}

h5.h5-coluna-centro{
    font-size:13px;
    font-weight:bold;
    color:#333333;
    line-height:15px;

    padding-top:12px;
    margin-bottom:10px;
}




.linha-colunas-servico{
    float:left;
    clear:both;
    width:535px;
    margin-bottom:15px;
}

.coluna-servico{
    float:left;
    width:154px;
    padding:10px;
    border:1px solid #FFF;
    overflow:hidden;
    font-size: 12px;
}

.coluna-servico:hover{
    background-color:#f5f5f3;
    border:1px solid #e6e4df;
}

.coluna-servico a:hover{
    color:#834ab5;
    text-decoration:underline;
}


h4.h4-titulo-servico{
    font-size:13px;
    font-weight:bold;
    line-height:17px;
    color:#333333;
    margin-bottom:8px;
    height:35px;
    overflow:hidden;
    position:relative;
}

h4.h4-titulo-servico a{
    color:#333333;
    text-decoration:none;
    position:absolute;
    bottom:0px;
}


.coluna-servico .thumb-servico{
    float:left;
    overflow:hidden;
    border:2px solid transparent;
}

.coluna-servico .thumb-servico:hover{
    /*border:2px solid #834ab5;*/
}

.coluna-servico .resumo-servico{
    clear:both;
    font-size:13px;
    line-height:14px;
    color:#333333;
    padding-top:15px;
    margin-bottom:10px;
}

.coluna-servico ul{margin:0 !important;padding:0 !important;}
ul.setaroxa{clear:both;margin-top:15px;list-style:none !important;}

ul.setaroxa li {
    display:block;
    line-height:15px;
    font-weight:normal;
    text-decoration:none;
    color:#000000;

    background-image:url(/temas/fccn/images/seta-lista-2.png);
    background-position:0px 5px;
    background-repeat:no-repeat;
    padding:0px 0px 5px 15px !important;
    margin-bottom:2px;
    border:none !important;
}

ul.setaroxa li a{
    text-decoration:underline;
    color:#000000;
}

ul.setaroxa li a:hover{
    text-decoration:underline;
    color:#834ab5;
}


/* *** FIM: COLUNA CENTRO *** */


/* *** INICIO: SERVICOS 2 *** */

.linha-subservico{
    border-bottom:1px solid #ddd;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:8px;
    overflow:hidden;
}

.linha-subservico:hover{
    background-color:#f5f5f3;
}

.thumb-subservico{
    float:left;
    width:128px;
    height:88px;
    overflow:hidden;
    border:1px solid #DDD;
    margin-right:11px;
    margin-bottom:11px;
}

.info-subservico{
    overflow:hidden;
}

.titulo-subservico{
    font-size:13px;
    font-weight:bold;
    color:#333333;
    margin-bottom:8px;
    padding-top:5px;
}


.titulo-subservico a{
    color:#333333;
    text-decoration:none;
}

.titulo-subservico a:hover{
    color:#834ab5;
    text-decoration:underline;
}

.resumo-subservico, .resumo-subservico a{
    color:#000000;
    line-height:15px;
    overflow:hidden;
    text-decoration: none;
}

.descricao-servico-topo{
    line-height:15px;
    color:#000000;
    margin-bottom:15px;
}

ul.tabs{
    overflow:hidden;
}
ul.tabs li{overflow:hidden;float:left;margin-right:3px;}

ul.tabs li .left{
    background:url(/temas/fccn/images/tab_off_left.png) no-repeat top left;
    width:2px;
    height:34px;
    float:left;
}

ul.tabs li .right{
    background:url(/temas/fccn/images/tab_off_right.png) no-repeat top left;
    width:2px;
    height:34px;
    float:left;
}

ul.tabs li a{
    float:left;
    background:url(/temas/fccn/images/tab_off_middle.png) repeat-x top left;
    line-height:34px;
    font-size:11px;
    color:#000000;
    text-decoration:none;
    padding:0px 5px;
}

ul.tabs li:hover .left,
ul.tabs li.tabselected .left{
    background:url(/temas/fccn/images/tab_on_left.png) no-repeat top left;
}
ul.tabs li:hover .right,
ul.tabs li.tabselected .right{
    background:url(/temas/fccn/images/tab_on_right.png) no-repeat top left;
}
ul.tabs li:hover a,
ul.tabs li.tabselected a{
    background:url(/temas/fccn/images/tab_on_middle.png) repeat-x top left;
    color:#FFFFFF;
}

.tab-2colunas{
    clear:both;
    float:left;
    width:100%;

}

.tab-coluna-esq{
    float:left;
    width:220px;
    margin-top:15px;


}

.tab-coluna-dir{
    float:left;
    width:315px;
}



#caixa-info-relacionada{
    clear:both;
    margin-top:20px;
    margin-bottom:20px;
    padding-bottom:15px;
    background-color:#f4f0f9;
    padding-left:20px;
    padding-right:20px;
    overflow:hidden;
}


#caixa-info-relacionada a{
    color:#336699;
    text-decoration:underline;

}

#caixa-info-relacionada a:hover{
    color:#834ab5;
    text-decoration:underline;

}


.linha-documento{
    clear:both;
    float:left;
    display:block;
    padding-left:95px;
    padding-top:15px;
    padding-bottom:15px;

    width:440px;

    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#dddddd;

    border-top-style:solid;
    border-top-width:1px;
    border-top-color:#dddddd;

}
.linha-documento:hover{
    background-color:#f5f5f3;
}

.download{
    overflow:hidden;
    padding:10px 0px 10px 50px;
    background:url(/temas/fccn/images/icon-downloads.png) no-repeat 0px 50%;
}

.application-pdf{background-image:url(/temas/fccn/images/icon-pdf.png);}
.application-vnd-ms-excel{background-image:url(/temas/fccn/images/icon-excel.png);}

.nome-doc{
    clear:both;
    float:left;
    font-size:13px;
    font-weight:bold;
    color:#333333;
    line-height:15px;
    margin-bottom:7px;
    width:100%;
}
.nome-doc a{
    text-decoration:underline;
    color:#333333;
}
.nome-doc a:hover{
    text-decoration:underline;
    color:#834ab5;
}
.descricao-doc{
    clear:both;
    float:left;
    color:#000000;
    line-height:15px;
}

.tamanho-doc{
    float:left;
    clear:both;
    font-size:11px;
    color:#333333;
    text-align:right;
    width:425px;
}



ul#faq{
    margin:0;
    padding:0;
    margin-top:10px;
    margin-bottom:20px;
}

ul#faq li a{
    font-size:13px;
    font-weight:bold;
    color:#333333;
    text-decoration:none;
    line-height:15px;

    padding-top:10px;
    padding-bottom:10px;

    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#dddddd;

    border-top-style:solid;
    border-top-width:1px;
    border-top-color:#dddddd;
}

ul#faq li dl{
    padding-left:10px;
    padding-bottom:10px;

}

ul#faq li dl dt{
    display:block;
    font-size:13px;
    font-weight:bold;
    color:#834ab5;
    text-decoration:none;

    padding-top:10px;
    padding-bottom:10px;
}

ul#faq li dl dd{
    display:inline;
    font-size:13px;
    font-weight:normal;
    color:#000000;
    line-height:15px;
}

#form-faq div{
    margin-top:6px;
    margin-bottom:6px;
    overflow:hidden;
}


#form-faq input[type=text]{
    width:390px;
    height:14px;
    float:left;

}

#form-faq select{
    width:396px;
    height:21px;
    float:left;
}

#form-faq textarea{
    width:390px;
    height:60px;
    float:left;

}



#form-faq em{
    clear:both;
    float:left;
    font-style:normal;
    font-size:13px;
    font-weight:bold;
    color:#834ab5;
    text-decoration:none;
    width:535px;;

    border-top-style:solid;
    border-top-width:1px;
    border-top-color:#dddddd;
    padding-top:7px;
    margin-bottom:10px;

}



#form-faq label{
    float:left;
    width:113px;
    text-align:right;
    margin-right:10px;
    font-weight:bold;
    color:#333333;
    padding-top:5px;
}




#form-faq small{
    clear:both;
    float:left;
    padding-left:110px;
    display:block;
    font-size:11px;
    font-style:italic;
    color:#999999;
    margin-bottom:4px;
}


#form-faq div img{
    margin-left:110px;
}

#form-faq .pink_button{
    /*float: none;*/
    padding-left: 125px;
}

#form-faq label{
    padding-top:0px !important;
    margin-top: 0px !important;
}

#form_tema_faq{margin-bottom:20px;}

.faqs-list{
    margin: 0px !important;
}
.faqs-list p.titulo_oferta{
    padding:10px 3px !important;
}

.faqs-list .detalhes_faq{
    display:block;
    overflow:hidden;
    padding:3px;
}

.faqs-remove-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.link-toggle{
    text-decoration:none;
    color: #000000;
    font-weight:bold;
}
a:hover.link-toggle{
    color: #000000;
    text-decoration:none;
}
/* *** FIM: SERVICOS 2 *** */

/* +++++++++++++++++++++++ FIM: PAGINA SERVICOS ++++++++++++++++++++++++++*/





/* +++++++++++++++++++++++ INICIO: PAGINA EVENTOS ++++++++++++++++++++++++*/

ul.tabs-calendario{
    overflow:hidden;
    float:left;
}

ul.tabs-calendario li{float:left;}
ul.tabs-calendario li a{
    display:block;
    text-align:left;
    font-size:11px;
    font-weight:normal;
    color:#000000;
    text-decoration:none;
    width:102px;
    padding-left:37px;
    margin:0px;
    line-height:34px;
}

ul.tabs-calendario li a.agenda-mensal{
    background:url(/temas/fccn/images/btn-agendamensal-off.png) no-repeat top left;
}

ul.tabs-calendario li a.agenda-mensal:hover,
ul.tabs-calendario li a.agenda-mensal-on{
    background:url(/temas/fccn/images/btn-agendamensal-on.png) no-repeat top left;
    color:#FFFFFF;
    font-weight:bold;
}


ul.tabs-calendario li a.lista-eventos{
    background-image:url(/temas/fccn/images/btn-listamensal-off.png);
    background-position:top left;
    background-repeat:no-repeat;
}

ul.tabs-calendario li a.lista-eventos:hover,
ul.tabs-calendario li a.lista-eventos-on{
    background-image:url(/temas/fccn/images/btn-listamensal-on.png);
    background-position:top left;
    background-repeat:no-repeat;
    color:#FFFFFF;
    font-weight:bold;

}

.seleccao-meses{
    border:1px solid #f0f0f0;
    overflow:hidden;
    float:right;
    margin-bottom:20px;
}
.seleccao-meses-seta{
    float:left;
    display:block;
    width:30px;

}

.seleccao-meses-mes{
    float:left;
    display:block;
    width:129px;
    overflow:hidden;
    font-size:13px;
    font-weight:bold;
    color:#333333;
    text-align:center;
    line-height:29px;
}

#tabela-agenda{
    clear:both;
    width:100%;
    margin:0;
    padding:0;
    border:none;
    margin-bottom:60px;
}
#tabela-agenda th{
    width:104px;
    height:28px;
    vertical-align:middle;
    font-size:13px;
    color:#333333;
    font-weight:bold;
    text-align:center;
    background-color:#ececec;
    border:1px solid #d9d9d9;
}

#tabela-agenda th.fimdesemana{
    background-color:#333333;
    color:#FFFFFF;
}

#tabela-agenda td{
    vertical-align:top;
    font-size:13px;
    color:#333333;
    font-weight:bold;
    text-align:center;
    background-color:#ffffff;
    border:1px solid #d9d9d9;
}

#tabela-agenda td .caixa_calendario{
    float:left;
    width:105px;
    height:98px;
    position:relative;
}

.mesAnteirorSeguinte{
    background-color:#F2F2F2;
}

#tabela-agenda td .diaMes{
    position:absolute;
    right: 3px;
    bottom: 3px;
    font-size:16px;
    font-weight:bold;
    color:#999999;
}

#tabela-agenda td .diaActual{
    background-color:#ECECEC;
    color:#FFF;
}

#tabela-agenda td .diaActual .diaMes{
    color:#834AB5;
}

#tabela-agenda td .mesAnteirorSeguinte .diaMes{
    color:#CCCCCC!important;
}


.cel-evento-nome{
    font-size:11px;
    font-weight:bold;
    margin:6px 6px 7px 7px;
    line-height:16px;
    color:#333333;
    text-align:left;
}

.more_info_events{
    position:absolute;
    top:0px;
    left:0px;
    overflow:hidden;    
    background-color:#F0F0F0;
    border-bottom:1px solid #CCC;
    width:105px;    
    z-index:5;
    min-height:78px;
    padding-bottom:20px;
    display:none;
}

.caixa_calendario:hover .more_info_events{display:block;}

.more_day_events{
    margin:0px;
    padding:0px;
    position:absolute;
    bottom:3px;
    left:3px;
    font-size:9px;
}

.cel-evento-nome a{
    color:#333333;
    text-decoration:none;
}
.cel-evento-nome a:hover{
    color:#834ab5;
    text-decoration:none;
}

.cel-evento-data{
    font-size:11px;
    font-weight:normal;
    color:#000000;
    margin:6px 6px 7px 7px;
    text-align:left;
}

.tooltip-evento-nome{
    font-size:13px;
    font-weight:bold;
    margin-bottom:3px;
    line-height:18px;
    color:#333333;
    text-align:left;
}

.tooltip-evento-data{
    font-size:13px;
    color:#333333;
    text-align:left;
    font-weight:normal;
    line-height:15px;
}


.tooltip-evento-data:after{
    content: " - ";
    margin-right:2px;
}


.tooltip-evento-local{
    font-size:13px;
    color:#000000;
    text-align:left;
    font-weight:normal;
    line-height:15px;
}

.tooltip-evento-vermais{
    float:left;
    width:95%;
    text-align:right;
    font-size:11px;
    font-weight:normal;
    color:#333333;
}

.tooltip-evento-vermais a{
    color:#333333;
    text-decoration:underline;
}
.tooltip-evento-vermais a:hover{
    color:#834ab5;
    text-decoration:underline;
}

.tooltip-evento-vermais a:after{
    content: url(/temas/fccn/images/seta-link.png);
}


.radiobtn-eventos{
    float:left;
    margin-right:10px;
    overflow:hidden;
    padding-right:3px;
}

.radiobtn-eventos:hover{
    background-color:#F5F5F3;
}

.radiobtn-eventos input{
    float:left;
    margin-top:6px;
    margin-right:3px;
}

.radiobtn-eventos label{
    float:left;
    margin-right:10px;
    margin-top:3px;
    font-size:13px;
    font-weight:bold;
    color:#333333;
    padding-top:3px;
    width:auto !important;
}

.radiobtn-eventos select{
    width:170px;
    margin-top:3px;
}

.radiobtn-eventos select option{
    font-size:13px;
    color:#333333;
}


.agenda-lista-meses{
    float:left;
    clear:both;
    width:100%;
}

.agenda-lista-evento{
    float:left;
    width:100%;
    clear:both;
    border-top-style:solid;
    border-top-width:1px;
    border-top-color:#dddddd;
    padding-top:10px;
    padding-bottom:11px;
}

.agenda-lista-evento:hover{
    background-color:#f5f5f3;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#dddddd;
    padding-bottom:10px;
}

.agenda-lista-evento-mes{
    clear:both;
    font-size:18px;
    font-weight:bold;
    color:#333333;
    line-height:21px;
    padding-top:25px;
    margin-bottom:10px;
}



.agenda-lista-evento-thumb{
    float:left;
    width:128px;
    height:88px;
    margin-right:10px;
    margin-bottom:10px;
}
.agenda-lista-evento-info{
    overflow:hidden;
}

.agenda-lista-evento-info-data{
    float:left;
    clear:both;
    font-size:11px;
    color:#999999;
    width:100%;
    margin-bottom:9px;
    margin-top:2px;
}
.agenda-lista-evento-info-titulo{
    float:left;
    clear:both;
    font-size:13px;
    font-weight:bold;
    color:#333333;
    width:100%;
    margin-bottom:4px;
}

.agenda-lista-evento-info-titulo a{
    color:#333333;
    text-decoration:none;
}

.agenda-lista-evento-info-titulo a:hover{
    color:#834ab5;
    text-decoration:underline;
}


.agenda-lista-evento-info-resumo{
    font-size:13px;
    font-weight:normal;
    color:#000000;
}




#topo-infoevento{
    font-size:13px;
    font-weight:normal;
    color:#000000;
    overflow:hidden;
}
.infoevento-thumb{float:left;}

.infoevento-info{
    float:left;
    margin-left:20px;
    width:567px;
    border-bottom:solid 1px #dddddd;
}

.infoevento-inicio span,
.infoevento-fim span{
    padding-top:0px !important;
    padding-bottom:0px !important;
}

.infoevento-inicio{
    float:left;
    width:284px;
    padding-top:10px;
    padding-bottom:10px;
    display:block;
    overflow: hidden;
    border-top-style:solid;
    border-top-width:1px;
    border-top-color:#dddddd;
}
.infoevento-fim{
    float:left;
    width:274px;
    padding-top:10px;
    padding-bottom:10px;
    border-top-style:solid;
    border-top-width:1px;
    border-top-color:#dddddd;
    display:block;
    overflow: hidden;
}
.infoevento-local{
    padding-top:10px;
    padding-bottom:10px;
    border-top-style:solid;
    border-top-width:1px;
    border-top-color:#dddddd;
    line-height:17px;
    display:block;
    overflow: hidden;
    float:left;
    width:100%;
}
.infoevento-organizacao{
    padding-top:10px;
    padding-bottom:10px;
    border-top-style:solid;
    border-top-width:1px;
    border-top-color:#dddddd;
    /*border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#dddddd;*/
    display:block;
    overflow: hidden;
    float:left;
    width:100%;
}

#topo-infoevento span{
    float:left;
    font-size:13px;
    font-weight:bold;
    color:#333333;
    width:100px;
    /*height:20px;*/
}



ul.lista-agenda {
    float:left;
    display:block;
    margin-left:5px;
    width:98%;
}

ul.lista-agenda li{
    font-size:13px;
    font-weight:bold;
    color:#333333;
    line-height:17px;
    clear:both;
    margin-top:20px;
    margin-bottom:20px;
}


ul.lista-agenda li p{
    font-size:13px;
    color:#000000;
    font-weight:normal;
    line-height:15px;
    clear:both;
}

ul.lista-agenda li ul {
    float:left;
    clear:both;
    margin-bottom:20px;
    margin-top:5px;

}

ul.lista-agenda li ul li{
    font-size:13px;

    line-height:15px;
    font-weight:normal;
    text-decoration:none;
    color:#000000;

    background-image:url(/temas/fccn/images/seta-lista-2.png);
    background-position:0px 5px;
    background-repeat:no-repeat;
    padding-left:10px;

    margin-bottom:0px;
    margin-top:0px;
    clear:both;
}

#tabs_detalhe_conteudo{
    overflow:hidden;
    margin-top:30px;
    margin-bottom:20px;
    border-bottom:1px solid #DBDBDB;
}

#tabs_detalhe_conteudo .lock{
    float:left;
    margin-top:5px;
    margin-right:5px;
}
#res_tab_conteudo{
    clear:both;
    overflow:hidden;
}
/* +++++++++++++++++++++++ FIM: PAGINA EVENTOS ++++++++++++++++++++++++++*/


/* +++++++++++++++++++++++ INICIO: PAGINA IMPRENSA ++++++++++++++++++++++++++*/

.comunicado-lista{
    overflow:hidden;
    border-top-style:solid;
    border-top-width:1px;
    border-top-color:#dddddd;
    padding-top:10px;
    padding-bottom:11px;
}

.comunicado-lista:hover{
    background-color:#f5f5f3;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#dddddd;
    padding-bottom:10px;
}



.comunicado-lista-thumb{
    float:left;
    width:128px;
    height:88px;
    margin-right:10px;
    margin-bottom:10px;
}

.comunicado-lista-info{
    overflow:hidden;
}

.comunicado-lista-info-data{
    font-size:11px;
    color:#999999;
    margin-bottom:9px;
    margin-top:2px;
}

.comunicado-lista-info-titulo{
    font-size:13px;
    font-weight:bold;
    color:#333333;
    margin-bottom:4px;
}

.comunicado-lista-info-titulo a{
    color:#333333;
    text-decoration:none;
}

.comunicado-lista-info-titulo a:hover{
    color:#834ab5;
    text-decoration:underline;
}

.comunicado-lista-info-resumo{
    font-size:13px;
    font-weight:normal;
    color:#000000;
    line-height:15px;
}

#comunicados-detalhe{
    clear:both;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1px;
    color:#000000;
    line-height:15px;
}

.comunicado-foto{
    float:left;
    width:274px;
    height:188px;
    overflow:hidden;
    margin-right:20px;
    margin-bottom:10px;
}

.comunicado-data-tema{
    font-size:11px;
    color:#999999;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding-bottom:8px;
    padding-top:8px;
    overflow:hidden;
}

h3.comunicado-titulo{
    font-size:18px;
    font-weight:bold;
    color:#834ab5;
    line-height:21px;
    margin-top:8px;
    margin-bottom:10px;
}

/*#comunicados-detalhe h3{
	font-weight:bold;
	margin-bottom:8px;
	font-size:13px;
	color:#333333;
}*/

.caixa-ficheiros-comunicados{
    margin-top:20px;
    margin-bottom:20px;
    padding-bottom:15px;
    padding-top:5px;
    background-color:#f4f0f9;
    padding-left:10px;
    padding-right:20px;
}
/* +++++++++++++++++++++++ FIM: PAGINA IMPRENSA ++++++++++++++++++++++++++*/

.foto{
    position:relative;
    overflow:hidden;
    text-align:center;
    /*background-color:#F4F0F9;*/
}

/******* TOOLTIP ***************/
#tooltip {
    display:none;
    font-size:11px;
    position:absolute;
    z-index:1000;
    width:325px;
}

#tooltip .topo{
    height:5px;
    background:url(/temas/fccn/images/tooltip_top.png) no-repeat 0px 0px;
}

#tooltip .middle{
    background:url(/temas/fccn/images/tooltip_middle.png) repeat-y 0px 0px;
    overflow:hidden;
}

#tooltip .bottom{
    background:url(/temas/fccn/images/tooltip_bottom.png) no-repeat 0px 0px;
    height:24px;
    overflow:hidden;
}

#tooltip .content{
    clear:both;
    overflow:hidden;
    margin:15px;
}

#tooltip #close_tooltip{position:absolute;top:-10px;right:-10px;}
#tooltip #close_tooltip img{border:none;}

.galeria_fotos{
    overflow:hidden;
}

.galeria_fotos .foto{
    float:left;
    margin-right:5px;
    margin-bottom:5px;
}

.titulo{
    font-size:13px;
    font-weight:bold;
    margin-bottom:4px;
    color:#333333;
}

.descricao{
    color:#000000;
    font-size:13px;
}

/********************* GALERIA ***********************/
#detalhe_banco_imagem{
    overflow:hidden;
}


.item_galeria{
    float:left;
    width:168px;
    margin-left:20px;
    margin-bottom:20px;
    overflow:hidden;
}

.item_galeria .foto{
    margin:5px;
    border:1px solid #DDD;
}

.navbar{
    clear:both;
    margin:5px 0px;
    overflow:hidden;
}

.navbar .paginacao_sel,
.navbar .paginacao,
.navbar .reticencias{
    float:left;
    margin:0px 6px;
    color:#333333;
    font-size:11px;
}
.navbar .paginacao_sel{color:#834AB5;}

.navbar .centro_navegacao{float:right;}
.navbar .pagina_seguinte{
    float:right;
    background:url("/temas/fccn/images/seta-paginacao-dir.png") no-repeat 0px 50%;
    padding-left:10px;
}
.navbar .pagina_anterior{
    float:right;
    background:url("/temas/fccn/images/seta-paginacao-esq.png") no-repeat 100% 50%;
    padding-right:10px;
}

/***** DETALHE RECORTE IMPRENSA (START) ***********/
#galeria_imprensa{
    overflow:hidden;
    margin-top:10px;
    padding-top:20px;
    border-top:1px solid #DDD;
}

#form_tema_recorte_imprensa{
    float:left;
    overflow:hidden;
}

#detalhe_recorte_imprensa{
    overflow:hidden;
    overflow: hidden;
    padding: 20px;
}
/***** DETALHE RECORTE IMPRENSA (END) ***********/

.item_press_kit{
    overflow:hidden;
    padding-bottom:3px;
    margin-bottom:3px;
    border-bottom:1px solid #DBDBDB;
}

.item_press_kit input{float:left;margin:20px;}

/************* FICHEIROS (START) *************/
.file_block{
    overflow:hidden;
    padding-bottom:3px;
    margin-bottom:3px;
    border-bottom:1px solid #DBDBDB;
}

.file_name{
    font-size:13px;
    font-weight:normal;
    color:#336699;
    line-height:15px;
    margin-bottom:7px;
}

.file_name a{
    text-decoration:underline;
    color:#336699;
}
.file_name a:before{content: url(/temas/fccn/images/seta-lista-2.png)" ";}
.file_name a:hover{
    text-decoration:underline;
    color:#834ab5;
}

.file_size{
    font-size:11px;
    color:#333333;
    text-align:left;
}

.file_description{
    font-size:13px;
    font-weight:normal;
    line-height:15px;
    margin-bottom:7px;
}
.file_size span{text-transform:uppercase;}
.tipo_documento{color:#333333;font-weight:bold;margin:0;padding:0;font-size:14px;}
/************* FICHEIROS (END) *************/

.pink_title{
    color:#834AB5;
    font-weight:bold;
    font-size:13px;
    margin-bottom:5px;
}

.lead{
    font-size:13px;
    font-weight:bold;
    color:#333333;
    margin-bottom:4px;
}

.lead a{
    color:#333333;
    text-decoration:none;
}

.lead a:hover{
    color:#834ab5;
    text-decoration:underline;
}

/******************* DESTAQUES SERVIÇOS PARA GRUPOS UTILIZADORES ***************/
.dst_servico_grupo,
.destaque_suporte{
    overflow:hidden;
    background-color:#F4F0F9;
    padding:10px;
    margin-bottom:10px;
    border:1px solid #DBDBDB;
}
.destaque_suporte ul{
    margin:0 !important;
    padding:0 !important;
    list-style:none !important;
}
.dst_servico_grupo ul li:first-child,
.destaque_suporte ul li:first-child{
    border-top:1px solid #DBDBDB;
}

.dst_servico_grupo li,
.destaque_suporte li{
    padding:10px;
    border-bottom:1px solid #DBDBDB;
    overflow:hidden;
}

.destaque_suporte form{margin-top:5px;}

.destaque_suporte .h4-titulo-servico{font-size:16px !important;}

.coluna_noticias_fccn{
    overflow:hidden;
    clear:both;
    float:left;
    width:46%;
    padding:10px;
}

.coluna_documentos_fccn{
    overflow:hidden;
    float:right;
    width:46%;
    padding:10px;
}

/****************************** ORGÃOS **********************************/
.orgao_info{
    overflow:hidden;
    margin-bottom:20px;
}

.orgao_info .legenda{
    position:absolute;
    bottom:0px;
    left:0px;
    width:320px;
    background-color:#834AB5;
    opacity:0.8;
    filter:alpha(opacity=80);
    color:#FFF;
    padding:5px;
}

.orgao_pic{
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}

.info_orgao{
    overflow:hidden;
    border-bottom:1px solid #DDDDDD;
    margin-bottom:5px;
}

.info_orgao div{margin-bottom:5px !important;}
/******************* OFERTAS EMPREGO ***********************/
#lista_ofertas_emprego{
    overflow:hidden;
    margin:0;
    padding:0;
    margin-bottom:30px;
}

#lista_ofertas_emprego > li{
    border-bottom:1px solid #DBDBDB;
    margin:0px !important;
    padding:5px 10px !important;
    overflow:hidden;
}

#lista_ofertas_emprego li:hover{background-color:#F5F5F3;}

#lista_ofertas_emprego > li:first-child{
    border-top:1px solid #DBDBDB;
}

#lista_ofertas_emprego .titulo_oferta{margin-bottom:0px;}
#lista_ofertas_emprego .titulo_oferta a{display:block;}

#lista_ofertas_emprego .detalhe_oferta{display:none;padding-top:20px;}
#lista_ofertas_emprego .detalhe_oferta .pink_button{
    clear:both;
    float:left;
}

form{
    overflow:hidden;
}

form fieldset{
    overflow:hidden;
    margin-bottom:20px;
}

form a{color:#834AB5;}

form fieldset legend{
    font-weight:bold;
    font-size:15px;
    padding-left:10px;
    float:left;
    display:block;
    margin-bottom:10px;
}

.div_fieldset{
    clear:both;
    border:1px solid #DBDBDB;
    background-color:#F5F5F3;
    padding:15px;
    overflow:hidden;
}

form label,
form input,
form select,
form textarea,
form span.label{float:left;}

form input{margin:0px;}
form input[type=radio]{
    margin-top:3px;
}

form div{overflow:hidden;}
.div_fieldset > div{padding:3px;margin-bottom:5px;}

form label,
form span.label{
    font-weight:bold;
    margin-top:5px;
    margin-right:15px;
    width:168px;
    text-align:right;
}

form label span,
form span.label span{
    color:red;
    margin-right:5px;
}

#error_help{position:absolute;border:3px solid red;background-color:#F3EED0;display:none;padding:10px;overflow:hidden;}
.help_trigger{
    cursor: pointer;
    float: left;
    height: 17px;
    margin-left: 3px;
    margin-top: 2px;
    text-align: center;
    width: 15px;
    display:none;
    background:url(/temas/fccn/images/icon-help.png) no-repeat 50% 50%;
}

form .error{
    background-color:red;
}

form .error label,
form .error span.label,
form .error span.label *,
form .error label *{color:#FFF;}

form .error input,
form .error textarea,
form .error select{color:red;background-color:#F3EED0;}

form .error .help_trigger{display:block;}

.block_half_left{float:left;}
.block_half_right{float:right}

.block_half_left{width:380px;}
.block_half_right{width:320px;}

.block_half_right label,
.block_half_right span.label{width:120px;}

form .big_input{width:500px;}
form .small_input{width:158px;}

.form_conditions{
    background-color:#E5E4DF;
    overflow:hidden;
    padding:10px !important;
}

.form_conditions label{width:auto !important;margin:0px 0px 0px 10px; font-size:11px;font-weight: normal; font-style: italic;}
.form_conditions label span{margin-left:5px;}

.form_error_content{display:none;}
.form_error{
    overflow:hidden;
    background-color:#F3EED0;
    padding:30px;
}
.form_error h2{color:red;}

.form_error .form_error_desc{background-color:#FFF;padding:10px;overflow:hidden;margin:30px 0px;}

.form_error_desc span{color:red;margin-left:15px;margin-bottom:10px;}

.form_error_desc p{margin:10px 0px;}
/*********************** BOLSA EMPREGO *******************/
#div_tipo_candidatura label{font-weight:normal !important;margin-left:5px;width:auto !important;}
#div_tipo_candidatura select{width:230px;float:right!important;}

#bloco_ficheiros ul{
    overflow:hidden;
    margin-bottom:10px;
    margin-left:15px;
}
#bloco_ficheiros ul li{
    background:url("/temas/fccn/images/seta-lista-2.png") no-repeat 0px 4px;
    padding-left:10px;
    color:#000000;
    margin-bottom:5px;
}

.upload_files{display:none;float:right;margin-right:370px;margin-top:5px;}

#ext_telefone_candidato{width:30px;margin-right:3px;}
#telefone_candidato{width:65px;}

#exp_table{margin-top:30px;width:100%;}
#exp_table th,#exp_table td{vertical-align:top;}
#exp_table th{text-align:left;font-weight: normal;padding-left:5px;}
#exp_table input{margin:3px;}
#exp_table input[readonly=readonly]{background-color:transparent;border:none;}

#exp_profissional span.label,
#exp_profissional label{width:auto;}
#exp_profissional label{margin-left:5px;}

.add_exp,.rem_exp{float:left;margin-top:6px;}
#postal_candidato{margin-right:5px;width:60px;}
#ext_postal_candidato{margin-left:5px;width:25px;}

/**************************************************/
.coluna_esquerda_fina,
.coluna_direita_fina{
    overflow:hidden;
    width:49%;
}
.coluna_esquerda_fina{float:left;}
.coluna_direita_fina{float:right;}

.pink{color:#834AB5 !important;}

#show_service_contacts{
    display:none;
    margin-top:20px;
}

/************* SUBSCRIÇÃO COMUNICADOS ***********************/
#form_subs_comunicados label,
#form_subs_comunicados span.label{width:110px;}
#form_subs_comunicados .big_input{width:355px;}

.datepicker{width:68px;}
.datetimepicker{width:100px;}

.ui-datepicker-trigger{
    padding:0;
    margin:0;
    margin-left:5px;
    margin-top:4px;
    background-color:transparent;
    border:none;
    float:left;
}

/************ WEBCAST *******************************/
#webcast_ext_telefone{width:30px;margin-right:3px;}
#webcast_telefone{width:65px;}

.required_fields span{
    color:#FF9C08;
}

/************ INSIDE TABS ***************************/
#site_map br,
#res_tab_conteudo br,
.reset-spacing br,
#site_map p,
#res_tab_conteudo p,
.reset-spacing p,
#site_map ul,
#res_tab_conteudo ul,
.reset-spacing ul,
#site_map ol,
#res_tab_conteudo ol,
.reset-spacing ol,
.conteudo_principal ol,
.destaque-resumo ol{
    padding:5px 10px;
}

#site_map ul,
#res_tab_conteudo ul,
.reset-spacing ul,
.conteudo_principal ul,
.destaque-resumo ul{
    list-style: disc;
    margin:0px 10px;
    padding:5px 20px;
}

#site_map ul ul,
#res_tab_conteudo ul ul,
.reset-spacing ul ul,
.conteudo_principal ul ul,
.destaque-resumo ul ul{
    list-style: circle;
}

#site_map ul ul ul,
#res_tab_conteudo ul ul ul,
.reset-spacing ul ul ul,
.conteudo_principal ul ul ul,
.destaque-resumo ul ul ul{
    list-style: square;
}

/*#res_tab_conteudo ol,
.reset-spacing ol,
.conteudo_principal ol,
.destaque-resumo ol{
    margin:5px 10px;
    padding:5px 10px;
    color: #000000;
}*/

#site_map ul li,
#res_tab_conteudo ul li,
.reset-spacing ul li,
#res_tab_conteudo ol li,
.reset-spacing ol li,
.conteudo_principal ol li,
.destaque-resumo ol li{
    margin:1px 0px;
    padding:1px 0px;
}

#site_map > ul,
#res_tab_conteudo > ul,
.reset-spacing > ul,
#res_tab_conteudo > ol,
.reset-spacing > ol,
.conteudo_principal > ol,
.conteudo_principal > ul,
.destaque-resumo > ol,
.destaque-resumo > ul{
    margin:0px 20px;
}

#site_map > ul > li{
    margin-top:10px;
    display:block;
}
#site_map ul ul ul{
    display:none;
}
#site_map ul li span:hover{
    cursor: pointer;
}

.purple{
    color:#834AB5;
}

.italic-small-text{
    font-size:11px;
    font-style: italic;
    color:#9a9a9a;
    display:block;
    clear:both;
    padding-left:120px;
}

.acerto-no-top-to-left{
    padding-top: 0px !important;
    padding-left: 3px !important;
}

#video_difusao_principal{
    overflow:hidden;
    background-color:#F4F0F9;
    border:1px solid #DBDBDB;
    margin-right:15px;
}

#video_difusao_principal .foto{
    float:left;
    margin-right:10px;
    width:428px;
    height:308px;
}

.video_imagens{
    overflow:hidden;
    border-top:1px solid #DBDBDB;
    padding-top:20px;
    margin-top:20px;
}

.video_imagem{
    float:left;
    overflow:hidden;
    margin-left:20px;
    width:165px;
}

.video_imagem .data,
#video_difusao_principal .data{
    font-weight:bold;
    margin-top:4px;
    color: #333333;
    font-size:11px;
    margin:0px;
    margin-top:5px;
}

.video_imagem .titulo{
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    margin:0px;
    margin-top:5px;
}

.video_imagem .titulo a{
    color:#333333;
    text-decoration:none;
}

.video_imagem .titulo a:hover{
    color:#834ab5;
    text-decoration:underline;
}

#form_areas_acesso div{overflow:hidden;margin-bottom:3px;}
#form_areas_acesso input{width:auto;}
#form_areas_acesso label{font-weight:normal;margin:0;padding:0;font-size:12px;width:auto;margin-left:5px;}

#lista_subscritores{
    width:100%;
    border-collapse: collapse;
}

#lista_subscritores th,
#lista_subscritores td{
    border-top:1px solid #DDD;
    text-align:left;
    padding:10px 10px;
    vertical-align:top;
}
#lista_subscritores th{background-color:#DDD;}
#lista_subscritores td{font-size:12px;}
#lista_subscritores td p{margin:0;padding:0;}

#lista_subscritores .td_activo{text-align:center;}

.activo{background:url(/temas/fccn/images/accept.png) no-repeat 0% 50%;	}
.inactivo{background:url(/temas/fccn/images/delete.png) no-repeat 0% 50%;}

p.activo,
p.inactivo{
    text-indent: -9999em;
    width:16px;
    height:16px;
    float:right;
}

#div_activa_desactiva{
    overflow:hidden;
    margin-top:20px;
    font-size:11px;
}

#div_activa_desactiva span{float:left;}
#div_activa_desactiva input{
    border:none;
    padding-left:20px;
    margin-left:5px;
    font-size:11px;
}

#termos_condicoes,.termos_condicoes{
    display:none;
    clear:both;
    padding-top:15px;
}

/**** CAPTCHA *****/
.div_captcha{
    overflow:hidden;
    margin:0 !important;
    padding:0 !important;
}
.img_captcha{
    border:1px solid #eeeeee;
    float:left;
    margin-left:0px !important;
}

label[for=security_code]{
    visibility: hidden;
}
.security_code{
    width:100px !important;
    /*margin-top:11px;*/
    margin-left:10px;
    letter-spacing:0.8em;
}

.label_tema{width:auto !important;}

#versao_ip{font-size:11px;}

.print_content{display:none;}

.table_entidades{
    width:100%;
}

.table_entidades th,.table_entidades td{
    margin-bottom: 12px;
    text-decoration: none;
    border-bottom: 1px solid #A9A9A9;
    padding-left: 5px;
    vertical-align: middle;
    height:30px;
}
.table_entidades th{
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
}

.table_entidades .left{text-align:left;}
.table_entidades .right{text-align:right;}

.grafico{text-align:center;margin-top:30px;}

#close_tooltip{
    cursor: pointer;
}

.table-whois td,
.table-whois th{
    vertical-align: top;
    background-color:#F5F5F3;
	color:#000;
}

.table-whois td.nocolor,
.table-whois th.nocolor{
    background-color:transparent;
}
/*
.addthis_button_print{
    background-image: url('/temas/fccn/images/icon-imprimir.png');
    background-repeat: no-repeat;
}

.addthis_button_email{
    background-image: url('/temas/fccn/images/icon-enviar.png');
    background-repeat: no-repeat;
}

.addthis_button_compact{
    background-image: url('/temas/fccn/images/icon-partilhar.png');
    background-repeat: no-repeat;
}
*/
.hide
{
    position:absolute;
    left:0px;
    top:-500px;
    width:1px;
    height:1px;
    overflow:hidden;
}

.no-class{
    font-size:13px !important;
    color:#336699 !important;
    text-decoration: underline !important;
    line-height: 16px !important;
    font-weight:normal !important;
    font-family: Arial,Helvetica,sans-serif !important;
}

.no-margin{
    margin:0px !important;
}