body
	{
	background-color: White;
	margin: 5px 5px 5px 5px;
	font-family: arial, helvetica, helv, sans-serif;
	font-size: 12px
}
td, p, div, ul, ol, select, textarea
	{
	font-family: arial, helvetica, helv, sans-serif;
	font-size: 12px	
	}
b {font-weight: bold}
a {text-decoration: none}

/* Custom classes */
.page {
	background-color: White;
	color : Black;
}
.pageheader {
	background-color: #FFFFFF;
	color : Black;
	//background-image : url(pix/line_header_background.jpg);
	font-weight : bold;
	font-family: arial, helvetica, helv, sans-serif;
	font-size: 12px	
}
.footer {
	background-color: #FFFFFF;
	color : White;
	//background-image : url(pix/line_header_background.jpg);
}
.white {
	color : White;
}
.grey {
	background-color: #BBBBBB;
}
