input {
    height: 2em;
    vertical-align: middle;
    background-color: #fff;
}

input[type="text"] {
    width: 6em;
    border: 1px solid #999;
    padding: 0 0.5em;
    border-radius: 2px;
    box-shadow: 0 1px 2px #DDDDDD inset;
}

input[type="text"]:focus {
    border: 1px solid #50a7e4;
    box-shadow: none;
}

input[type="submit"] {
    color: white;
    background-color: blue;
    border-radius: 2px;
}

form {
    font-size: 150%;
}

.inspector-form {
    background-color: #F2F2F2;
    padding: 2em 1em;
    border-radius: 0.25em;
    margin-bottom: 4em;
}

.input-idx {
    margin-right: 2em;    
}

.submit {
    float: right;
    width: 7em;
    cursor: pointer;
    outilne: none;
    background: #50a7e4; /* Old browsers */
    background: -moz-linear-gradient(top, #50a7e4 0%, #3886e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50a7e4), color-stop(100%,#3886e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #50a7e4 0%,#3886e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #50a7e4 0%,#3886e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #50a7e4 0%,#3886e0 100%); /* IE10+ */
    background: linear-gradient(top, #50a7e4 0%,#3886e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50a7e4', endColorstr='#3886e0',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.submit:hover {
    background: #50a7e4; /* Old browsers */
    background: -moz-linear-gradient(top,  #50a7e4 0%, #2571ca 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50a7e4), color-stop(100%,#2571ca)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #50a7e4 0%,#2571ca 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #50a7e4 0%,#2571ca 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #50a7e4 0%,#2571ca 100%); /* IE10+ */
    background: linear-gradient(top,  #50a7e4 0%,#2571ca 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50a7e4', endColorstr='#2571ca',GradientType=0 ); /* IE6-9 */
}

.submit:focus {
    outline: thin dotted;    
}

.submit:active {
    background: #2774cb;
    border: 1px solid #2163ad;
}

.cross {
    list-style: square outside 0;    
}


dl.inline {
    padding: 0 0 0 2em;     
}

dl.inline dt, dl.inline dd {
    float: left;
    height: 1.4em;
}

dl.inline dt {
    width: 12em;    
}

dl.inline dd + dt, dl.inline dd + dd {
    clear: left
}

dl.inline dd + dd {
    float: none
}

dl.inline dt {
    font-weight: bold
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.document-info h2 {
    font-weight: bold;
}

.document-info h2 em {
    color: #476400;    
}

#conteudo-termos .document-info h3 {
    padding: 1em 0 0.5em 0;    
}

.message-pane {
    border: 1em dashed #ccc;
    border-radius: 0.5em;
    padding: 3em;
    font-size: 120%;
}

.message-pane, .message-pane h2, .message-pane p, #conteudo-termos .message-pane li {
    color: #aaa;    
}

.message-pane h2 {
    font-weight: bold;    
}

#conteudo-termos .message-pane ul {
    list-style: disc outside;    
}

.error, .no-result {
    color: #aaa;    
}

.no-result h2 {
    text-align: center;
}
