<?xml version="1.0" ?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<!-- Copyright (c) 2002 by ObjectLearn. All Rights Reserved. -->
<web-app>
    <display-name>arcretriever</display-name>
    <description>ArcRetriever module for wera</description>

    <servlet>
    	<servlet-name>arcretriever</servlet-name>
    	<servlet-class>no.nb.nwa.retriever.ARCRetriever</servlet-class>
        <init-param>
            <param-name>arcdir</param-name>
            <param-value>@arcdir@</param-value>
            <description>Full path to directory of ARC files.
            Be aware that changing this value in the web.xml of an 
            arcretriever sitting under a containers webapp directory
            can prove frustrating.  The container usually  notices your
            change then re-undoes the original WAR file overwriting your
            edits.  If you remove the WAR file version, the container will
            subsequently 'cleanup' the lone webapp directory.
            Best to unjar outside of the container webapp directory and
            copy the unjarred WAR into the webapp dir.
            </description> 
        </init-param>
    </servlet>
    <servlet-mapping>
    	<servlet-name>arcretriever</servlet-name>
    	<url-pattern>/arcretriever</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>
</web-app>
